﻿.content-area-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.report-panel {
    flex: 1;
    min-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.report-title {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

    .report-title .report-back {
        display: flex;
        align-items: center;
        padding: 4px 10px;
    }

    .report-title .report-back__icon {
        margin-right: 6px;
        width: 20px;
        height: 20px;
        background: url('/App_Static/images/close-button.svg') center no-repeat;
        filter: invert(34%) sepia(79%) saturate(5486%) hue-rotate(218deg) brightness(99%) contrast(103%);
    }

.result-title-panel {
    background-color: rgb(0 70 158 / 14%);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 6px;
}

.report-status-panel {
    display: flex;
    margin: 0;
}

    .report-status-panel .badge {
        padding: 4px;
        font-size: 1.1em;
    }

    .report-status-panel .report-status {
        display: none;
        font-weight: 600;
        margin-right: 8px !important;
    }

.report-est-sale {
    display: none;
}

    .report-est-sale .b.low {
        color: #fff;
        font-weight: 600;
    }

.report-container {
    overflow: auto;
    display: flex;
    flex: 1;
    width: 99%;
    margin: 0 auto;
}

.flex-auto {
    flex: auto;
}

.rp__table {
    font-size: 0.9em !important;
}

    .rp__table thead th:not(.rp__fi),
    .rp__table tfoot th:not(.rp__fi) {
        width: 125px !important;
    }

    .rp__table td:not(.rp__cat):not(.rp__fi) {
        text-align: center !important;
    }

    .rp__table tfoot th:not(.rp__cat):not(.rp__fi) {
        text-align: center !important;
    }

    .rp__table tfoot th {
        font-size: 1.05em;
        font-weight: 600 !important;
    }

.rp__fi {
    width: 150px !important;
    font-size: 1.02em;
}

.rp__cat-row {
    font-size: 1.15em;
    font-weight: 600;
}

    .rp__cat-row td {
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        background: #fdfcff;
    }

        .rp__cat-row td.rp__cat {
            cursor: pointer;
            position: relative;
            padding-right: 20px !important;
        }

            .rp__cat-row td.rp__cat::after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                display: inline-block;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 6px solid #000;
                transition: 0.5s ease;
            }

    .rp__cat-row[collapse="1"] td.rp__cat::after {
        transform: translateY(-50%) rotate(180deg);
    }

.rp__img {
    width: 100px;
    height: 100px;
    background-size: cover !important;
    border: 1px solid #e4eaec;
    border-radius: 5px;
    margin: 0 auto;
}

.rp__adj-row {
    justify-content: center;
}

    .rp__adj-row > span {
        display: inline-block;
        width: 50%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
    }

        .rp__adj-row > span:not(.rp__adj-val) {
            padding-right: 3px;
        }

    .rp__adj-row .rp__adj-val {
        border-left: 1px solid #333;
        padding-left: 3px;
    }


.mapview {
    display: flex;
    flex: 1;
    padding-bottom: 0.5%;
}

    .mapview .gmap {
        flex: 1;
    }


.high {
    color: Green;
    font-weight: bold;
}

.low {
    color: Red;
    font-weight: bold;
}

.imgover {
    float: left;
    position: relative;
}

    .imgover .img2 {
        display: none;
    }

.hoverimg {
    display: block !important;
    position: absolute;
    top: -33px;
    left: -75px;
    z-index: 100;
}

.bg-y {
    background: Yellow !important;
    color: Black;
}

.button_divs {
    display: inline-flex;
}

.button {
    background-color: #ffffff !important;
    color: #155FFF !important;
    margin-right: 9px;
    padding: 4px 12px;
    border: 1px solid #ffffff;
    transition: all 0.2s;
}

    .button:hover {
        background-color: #f5f9ff !important;
        border-color: #98b8ff;
    }

.switch-button {
    background: rgba(255, 255, 255, 0.56);
    border-radius: 4px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #155FFF;
    position: relative;
    padding-right: 100px;
    position: relative;
}

    .switch-button:before {
        content: "Map View";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

    .switch-button-checkbox:checked + .switch-button-label:before {
        transform: translateX(100px);
        transition: transform 300ms linear;
    }

    .switch-button-checkbox + .switch-button-label {
        position: relative;
        padding: 5px 0;
        display: block;
        user-select: none;
        pointer-events: none;
    }

        .switch-button-checkbox + .switch-button-label:before {
            content: "";
            background: #fff;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px;
            transform: translateX(0);
            transition: transform 300ms;
        }

        .switch-button-checkbox + .switch-button-label .switch-button-label-span {
            position: relative;
        }

    .switch-button-checkbox:checked + .switch-button:before {
        color: #f00;
    }


.gm-style-iw-d {
    overflow: hidden !important;
    white-space: nowrap !important;
    padding-right: 9px !important;
    padding-bottom: 17px !important;
    min-width: 200px;
    /*padding-bottom: 17px !important;*/
}

.gm-style-iw-c {
    padding: 12px !important;
}

#legend {
    background: #fbff8a;
    padding: 13px 51px 13px 9px;
    margin: 4px;
    /* min-width: 120px; */
    /* min-height: 29px; */
    position: absolute;
    bottom: 127px;
    /* right: 0px; */
    font-weight: bold;
}


.content {
    display: flex;
    flex-direction: column;
}

.map-info-head {
    margin: 3px;
    width: 90px;
}

.map-info-data {
    margin: 3px;
    width: auto;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.1em;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .rp__cat-row td.rp__cat::after {
        display: none;
    }

    .rp__table thead{
        display: table-row-group;
    }
    .rp__table tfoot{
        display: table-row-group;
    }
    .rp__table{
        page-break-after: always;
    }
}



/*********************************************************/
/*.SalesField .val-col, .SalesField .label {
    background-color: #d0d06e !important;
}

.catego {
    width: 60px;
    padding-right: 3px;
    padding-left: 3px;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    border-top: 0px none;
    font-weight: bold;
    color: Black;
}

.categ-even {
    background: #EFEFEF;
}

.label {
    width: 135px;
    text-align: right;
    padding-right: 15px;
    border: 1px solid #CFCFCF;
    border-right: 1px solid #333;
    border-top: 0px none;
}

.qPublic {
    font-weight: bold;
    color: #167ccf;
}

.val-no-adj {
    border-right: 1px solid #333;
}

.categ-first-row td {
    border-top: 2px solid #9999;
}

.no-border {
    border: 0px none !important;
    background: none !important;
    visibility: hidden;
}

.header-row th {
    padding: 3px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #777;
    background: #DFDFDF;
}

.footer-row td {
    font-size: 1.2em;
    background: Yellow;
    font-weight: bold;
    border: 1px solid #333;
}

    */
