﻿body {
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    background-color: Gray;
    font-size: 10pt;
    color: #333;
}

button {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.shade {
    background-color: rgba(0, 0, 0, 0.4);
}

.dock-full {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.dock-height {
    position: fixed;
    top: 0%;
    bottom: 0%;
    overflow-y: auto;
}

.dock-left {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
}

.dock-right {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.dock-top {
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}

.dock-bottom {
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.vscroll {
    overflow-y: auto;
}

div[disabled] {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div[disabled] a,
div[disabled] button {
    cursor: not-allowed !important;
}

div[disabled] input,
div[disabled] textarea,
div[disabled] select,
table[disabled] input,
table[disabled] select,
table[disabled] textarea {
    cursor: not-allowed !important;
    pointer-events: none;
}

canvas[disabled] {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

select,
input,
textarea {
    font-family: Segoe UI;
}

.main-content-area h1,
.main-content-area h2,
.main-content-area h3,
.main-content-area h4,
.main-content-area h5 {
    font-weight: 400;
}

.main-content-area h1 {
    font-size: 2em;
}

.main-content-area h2 {
    font-size: 1.6em;
}

.main-content-area h3 {
    font-size: 1.3em;
}

.min-width {
    min-width: 1000px;
}

.dashboard-area {
    background-color: #e2e5ed;
}

.content-area-wrapper {
}

.content-area-wrapper-padded {
    margin: 15px;
}

.content-top-actions {
}

.content-top-actions a {
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
    margin: 8px;
    text-decoration: underline;
    text-decoration-color: #ccc;
    padding: 4px 15px 7px 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
}

.content-top-actions a:hover {
    background-color: #eee;
}

table.form {
    font-size: 1.1em;
}

table.form > tr > td,
table.form > tbody > tr > td {
    padding: 4px 6px;
}

table.form > tr > td:first-child,
table.form > tbody > tr > td:first-child {
    padding-right: 30px;
    padding-left: 0px;
    min-width: 120px;
}

table.form input,
table.form select,
table.form textarea {
    padding: 4px;
    min-width: 300px;
    border-radius: 4px;
    border-color: #ccc;
    font-size: 1.1em;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    min-height: 34px;
    color: #333;
}

table.form input[type="checkbox"] {
    min-height: 24px;
    min-width: 24px;
}

table.form input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

table.form td.form-buttons {
    padding-top: 15px;
}

table.form button {
    padding: 8px 30px;
}

table.form [manderr] {
    border-color: red;
    box-shadow: 0px 0px 2px red;
}

table.data-set-form2 tbody > tr > td:first-child {
    min-width: 180px;
}

table.data-set-form2 input {
    min-width: 170px;
}

table.data-set-form tbody > tr > td:first-child {
    min-width: 70px;
}

.btn-32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    margin: 0px 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn-search-32 {
    background-image: url(icons-32/search.png);
}

.filter-box {
    border-radius: 4px;
    padding: 8px 12px;
    min-width: 140px;
    min-height: 250px;
    background-color: white;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 6px 3px #0000000d;
}

.filter-box.popup {
    position: fixed;
    z-index: 101;
}
.popup.popup-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-box .filter-title {
    font-size: 1.5em;
    padding: 4px 0;
    margin-bottom: 4px;
}

.filter-box input,
.filter-box select {
    padding: 4px;
    min-width: 300px;
    border-color: #ccc;
    font-size: 1em;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    min-height: 30px;
    color: #333;
}

.filter-box select {
    min-width: initial;
}

.filter-box .label {
    margin-bottom: 3px;
}

.filter-box input[type="file"] {
    border: 0px none;
    padding: 0px;
}

.filter-box input[type="checkbox"],
.filter-box input[type="radio"] {
    min-width: 18px;
    min-height: 18px;
    width: unset;
    height: unset;
}

.filter-box input[type="checkbox"] + label,
.filter-box input[type="radio"] + label {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}

.filter-box .filter-checkbox {
    margin: 8px 8px 8px 0;
    display: inline-block;
}
.filter-box .filter-checkbox label {
    user-select: none;
    cursor: pointer;
}

.filter-box .filter-checkbox input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
    padding-left: 0px;
    margin: 0;
    cursor: pointer;
}

.filter-box .filter-checkbox input[type="checkbox"] + label {
    padding-top: 1px;
    padding-left: 6px;
    font-weight: 500;
}

.filter-box table.filter-results {
    margin-top: 8px;
    max-width: 350px;
}

.filter-box table.filter-results td {
    padding: 4px;
}

.filter-box table.filter-results td:first-child {
    font-weight: 500;
}

.filter-box table.filter-results td:last-child,
.filter-box div.filter-results > table tr > td:last-child {
    font-style: italic;
    text-align: right;
    font-size: 0.9em;
    white-space: nowrap;
}

.filter-box table.filter-results .select-field {
    cursor: pointer;
    text-decoration: underline;
    color: dodgerblue;
}

.filter-box div.filter-results {
    padding: 8px;
    border: 1px solid #e2e5ed;
    overflow-y: scroll;
    max-height: 500px;
    margin: 8px 0px;
}

.filter-box div.filter-results > div {
    padding: 4px 0px;
    display: flex;
}

.filter-box div.filter-results > div > input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
    margin-right: 6px;
}

.filter-box div.filter-results input[type="radio"] {
    min-width: 20px;
    min-height: 20px;
    margin-right: 6px;
}

.filter-box div.filter-results > div label {
    font-size: 1.1em;
    vertical-align: top;
    padding-top: 2px;
    display: inline-block;
}

.filter-box .filter-button-panel {
    margin: 8px 0px 4px;
}

.filter-box .filter-button-panel button {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #1976d2;
    color: #fff;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.1em;
    cursor: pointer;
}
.filter-box .filter-button-panel button:hover {
    background-color: rgb(17, 82, 147);
}

.filter-box a.filter-box-close {
    content: "✖";
    color: #565656;
    display: inline-block;
    padding: 4px;
    font-size: 1.5em;
    text-align: center;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
    line-height: 1;
    border-radius: 4px;
}

.filter-box a.filter-box-close:hover {
    color: #e00000;
    background-color: #e8e8e8;
}

.field-filter {
    min-width: 140px;
    min-height: 250px;
    display: none;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 3px 3px #efefef;
}

.lookup-filter {
    min-height: 250px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 3px 3px #efefef;
}

a.l_s1 {
    background-color: #1eadad;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    padding-bottom: 4px;
}

a.l_s1:hover {
    background-color: #0ed0d0;
    color: white;
}

a.l_l1 {
    color: white;
    font-size: 0.9em;
    margin: 2px;
    display: inline-block;
}

a.l_l1:hover {
    color: antiquewhite;
}

div.wui-layout {
    display: flex;
}

div.wui-layout div.wui-stretch {
    flex: 1;
}

div.wui-layout div.wui-sub {
    display: flex;
}

.dashboard-cell {
    padding: 12px;
    background-color: white;
    border: 1px solid #e4eaec;
    box-shadow: 0 1px 1px #0000000d;
    margin: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.dashboard-cell:after {
    content: "";
    display: block;
    clear: both;
}

.dashboard-cell h2,
.dashboard-cell h3 {
    padding: 0px;
    margin: 0px;
}

.dashboard-cell > table {
    width: 100%;
    border-spacing: 5px;
}

.dashboard-cell > table td {
    vertical-align: top;
}

.dashboard-cell-header {
    display: flex;
    align-items: center;
}
.dashboard-cell-header h2 {
    font-size: 1.3em;
    font-weight: 500;
}

.dashboard-cell-header-action {
    margin-left: auto;
}
.dashboard-cell-header-action a {
    color: #940000;
    margin: 0;
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.dashboard-cell-header-action a span.icon {
    font-weight: 700;
    font-size: 1.4em;
    padding-right: 4px;
    line-height: 0;
    width: 10px;
    height: 10px;
    margin-right: 4px;
}
.dashboard-cell-header-action a span.icon.icon-add {
    background-position-x: -63px;
}
.dashboard-cell-header-action a span.icon.icon-settings {
    background-position-x: -21px;
}
.dashboard-cell-header-action a span.icon.icon-edit {
    background-position-x: -32px;
}
button.ol-zoom-out {
    background: white;
    position: absolute;
    top: 36px;
    left: 10px;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    padding: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    outline: none;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
button.ol-zoom-in {
    background: white;
    position: absolute;
    top: 0px;
    left: 10px;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    padding: 0px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    outline: none;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
button.ol-full-screen-false {
    position: absolute;
    right: 10px;
    top: 0;
    background: white;
    width: 40px;
    height: 40px;
    color: black;
    font-size: 22px;
}
