﻿
<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/DataSetup.master" CodeBehind="parentchildrelation.aspx.vb" Inherits="CAMACloud.Console.parentchildrelation" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .box1 {
                float: left;
                overflow: auto;
                overflow-x: auto;
                width: 365px;
                height: 500px;
                border: Solid 1px #BFBCBC;
                margin-top: 20px;
                margin-right: 10px;
                margin-left: 10px;
            }
        
        .box2{
                float: left;
                width: 625px;
                height: 500px;
                border: Solid 1px #BFBCBC;
                margin-top: 20px;
        }
        .table1 {
                float: left;
                overflow: auto;
                overflow-x: auto;
                width: 245px;
                height: 440px;
                border: Solid 1px #BFBCBC;
                margin-top: 20px;
                margin-right: 15px;
                margin-left: 15px;
            }
        .table2 {
                float: left;
                width: 326px;
                height: 220px;
                border: Solid 1px #BFBCBC;
                margin-top: 20px;
        }
      
    </style>
    <script type="text/javascript" language="javascript">
        function setRelation() {
            $('.cbPrimary input').each(function () {
                $(this).change(function () {
                    var c = this;
                    var tableid = $(this).parent().attr('tableid');
                    var sourcetable = $(this).parent().attr('sourcetable');
                    var fieldname = $(this).parent().attr('fieldname');
                    var TableInfo = {
                        TableId: tableid,
                        SourceTable: sourcetable,
                        FieldName: fieldname
                    };
                    if (c.type == "checkbox") {
                        TableInfo.CheckBoxStatus = c.checked ? 1 : 0;
                    }
                    $ds('updaterelation', TableInfo, function (resp) {
                        console.log(c.checked);
                        if (c.checked) {
                            $(c).parents('tr:first').find('td:first').append('<img src="/App_Static/css/icons16/primary-key.png" height="15" width="15">')
                        }
                        else {
                            $(c).parents('tr:first').find('td:first').find('img').remove()
                        }
                        alert(resp.message);
                    });
                });
            });
        }
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h1>Data Hierarchy </h1>
<div class ="box1">
    <asp:TreeView  
        ID="TreeView1"
        PopulateNodesFromClient="true"
        ShowLines="true" 
        ShowExpandCollapse="true"
        AutoGenerateDataBindings="False" runat="server" />
</div>

<asp:Panel ID= "PanelDisplayContent"  runat = "server">
<div class="box2">

<table>
  <thead>
    <tr>
      <th colspan="2">
       <asp:Label ID="lblHead" runat="server"  style="margin-left: 10px; font-size: large; font-weight: bold; color: #065a9f;" Visible="false"></asp:Label>
      </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table1">
      <asp:GridView ID="gvDataSourceTable" runat="server"  AutoGenerateColumns = "false" Width="240px">
            <Columns>
                <asp:TemplateField ItemStyle-Width = "25px" HeaderText ="PK">
                    <ItemTemplate >
                        <asp:Image ID="imgPrimaryKey" runat="server" width="15px" height= "15px" visible='<%# IIF(Eval("IsPrimaryKey") Is DbNull.Value,"False","True") %>' ImageUrl="~/App_Static/css/icons16/primary-key.png"/>
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:TemplateField ItemStyle-Width = "25px">
                    <ItemTemplate>
                          <asp:CheckBox ID="CheckBox1" runat="server" TableId='<%# Eval("TableId") %>' SourceTable='<%# Eval("SourceTable") %>' FieldName='<%# Eval("FieldName") %>'  Checked='<%# IIF(Eval("IsPrimaryKey") Is DbNull.Value,"False","True") %>' class='cbPrimary'/>  
                    </ItemTemplate>
                </asp:TemplateField>
                <asp:BoundField DataField="DisplayLabel" ItemStyle-Width = "100px" HeaderText="FieldName"/>
                <asp:BoundField DataField="DataType" ItemStyle-Width = "60px" HeaderText = "DataType" ItemStyle-HorizontalAlign="Center"/>
            </Columns>
        </asp:GridView>
      </td>
      <td class="table2">
      <asp:GridView ID="gvReferenceRelationships" runat="server" ShowHeaderWhenEmpty="true"  ShowHeader="true" ShowFooter="True" AutoGenerateColumns = "false"  Width="100%">
        <RowStyle Height="20px" />
        <Columns>
            <asp:TemplateField>
                <HeaderTemplate >
                       <asp:Label ID="lblSourceTable" runat="server"></asp:Label>
                </HeaderTemplate>
                <ItemTemplate>
                        <asp:Label ID="lblFieldName" runat="server" Text='<%# Eval("Field")%>'></asp:Label>
                </ItemTemplate>
                <EditItemTemplate>
                    <asp:DropDownList ID="ddlEditSourceField" AppendDataBoundItems="True" runat="server"></asp:DropDownList>
                </EditItemTemplate>
                <FooterTemplate>
                    <asp:DropDownList ID="ddlAddSourceField" runat="server"></asp:DropDownList>
                </FooterTemplate>
            </asp:TemplateField>

            <asp:TemplateField>
                <HeaderTemplate >
                       <asp:Label ID="lblReferenceTable" runat="server"></asp:Label>
                </HeaderTemplate>
                <ItemTemplate>
                        <asp:Label ID="lblReferenceField" runat="server" Text='<%# Eval("ReferenceField")%>'></asp:Label>
                </ItemTemplate>
                <EditItemTemplate>
                    <asp:DropDownList ID="ddlEditReferenceField" AppendDataBoundItems="True" runat="server"></asp:DropDownList>
                </EditItemTemplate>
                <FooterTemplate>
                    <asp:DropDownList ID="ddlAddReferenceField" runat="server"></asp:DropDownList>
                </FooterTemplate>
            </asp:TemplateField>

            
            <asp:TemplateField ShowHeader="False">
                <ItemTemplate>
                    <asp:ImageButton ID="EditButton" runat="server" CommandName="Edit" AlternateText="Edit" Visible='<%# IIF(Eval("Field") Is DbNull.Value, "False","True") %>' ImageUrl="~/App_Static/css/icons16/edit.png" />
                </ItemTemplate>
                <EditItemTemplate>
                    <asp:LinkButton ID="lnkUpdate" runat="server" CausesValidation="True" CommandName="Update" Text="Update"></asp:LinkButton>
                    &nbsp;<asp:LinkButton ID="lnkCancel" runat="server" CausesValidation="False" CommandName="Cancel" Text="Cancel"></asp:LinkButton>
                </EditItemTemplate>
           </asp:TemplateField>

            <asp:TemplateField ShowHeader="False">
                <ItemTemplate>
                    <asp:ImageButton ID="DeleteButton" runat="server" ImageUrl="~/App_Static/css/icons16/del16.gif" CommandName="Delete" OnClientClick="return confirm('Are you sure you want to delete this event?');" Visible='<%# IIF(Eval("Field") Is DbNull.Value, "False","True") %>' AlternateText="Delete" />           
                </ItemTemplate> 
                <FooterTemplate>
                    <asp:LinkButton ID="lnkAdd" runat="server" CommandName="AddRelationship" Text="Add"></asp:LinkButton>
                </FooterTemplate>
           </asp:TemplateField>

        </Columns>
        </asp:GridView>
      </td>
    </tr>

  </tbody>
</table>
</div>
    </asp:Panel>

</asp:Content>
