﻿<%@ Page Language="vb" Theme="CloudAuth" AutoEventWireup="false" CodeBehind="pictometry_nolicense.aspx.vb" MasterPageFile="~/App_MasterPages/SecurityPage.master" Inherits="CAMACloud.Console.pictometry_nolicence" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <p>EagleView License not installed for the account.</p>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Footer" runat="server">
</asp:Content>

