﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="CAMACloud.Console.App_Controls_app_WebFooter" Codebehind="WebFooter.ascx.vb" %>
<span>v<%=AssemblyVersion() %></span> - Copyright - <asp:HyperLink runat="server" ID="hlVendor" Target="_blank" ForeColor="White" Text="Data Cloud Solutions, LLC." NavigateUrl="http://www.datacloudsolutions.net/" /> - <asp:Label runat="server" ID="lblVendorInfo" Text="All rights reserved." />