:root {
    --border-color: #bfbfbf;
}
.cc-drop {
    border: 1px solid var(--border-color);
    padding: 2px 16px 2px 4px !important;
    background-color: #fff !important;
    cursor: pointer;
    display: inline-block;
    min-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-right: 16px !important;
    background: url("images/down.svg") no-repeat;
    background-position: right 4px center;
    background-size: 9px;
    width: 232px;
}
.cc-drop:disabled {
    color: #8c8c8c;
    cursor: initial;
    border-color: #8c8c8c;
}
.cc-drop-focus {
    outline: -webkit-focus-ring-color auto 1px;
}
.cc-drop-focus[readonly] {
    background-color: #fff;
}

.cc-drop-pop * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cc-drop-pop {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    color: #76838f;
    text-align: left;
    background-color: #fff;
    border: 1px solid var(--border-color);
    height: auto;
    flex-direction: column;
    box-shadow: 0 0 20px 1px #00000036;
    z-index: 1000;
}
.cc-drop-pop.cc-drop-above {
    flex-direction: column-reverse;
}
.cc-drop-pop.cc-drop-full {
    width: 100vh !important;
    height: 100vw !important;
    top: 0;
    left: 0;
}
.cc-drop-pop .cc-drop-items {
    max-height: 250px;
    overflow: auto;
}
    .cc-drop-pop .cc-drop-items > span {
        width: calc(100% - 0px);
        margin: 0 0px;
        border-radius: 0;
        -webkit-transition: background-color 0.25s;
        -o-transition: background-color 0.25s;
        transition: background-color 0.25s;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /*display: block;*/
        padding: 4px 8px;
        color: #576067;
        /*white-space: nowrap;
        text-overflow: ellipsis;*/
        overflow: hidden;
        background: 0 0;
        border: 0;
        user-select: none;
        cursor: pointer;
        border-bottom: 1px solid #e1e1e1;
        min-height: 28px;
        max-height: 40px;
        font-size: 9.4pt;
    }

.cc-drop-pop .cc-drop-items > span:nth-last-child(2) {
    border-color: #fff;
}

.cc-drop-pop .cc-drop-items > span:focus,
.cc-drop-pop .cc-drop-items > span:hover {
    color: #242424;
    text-decoration: none;
    background-color: #f3f7f9;
}

.cc-drop-pop .cc-drop-items > span[disabled] {
    text-decoration: none !important;
    background-color: #ccc !important;
    color: #7f7f7f !important;
}

.cc-drop-pop .cc-drop-items > span[selected] {
    color: #242424;
    text-decoration: none;
    background-color: #3e8ef7;
    color: #fff;
}

input.cc-drop-search {
    width: calc(100% - 16px);
    margin: 8px;
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    color: #393939;
    padding-right: 16px;
    background: url("images/search.svg") no-repeat;
    background-position: right 4px center;
    background-size: 9px;
}

input.cc-drop-search:focus {
    outline: none;
    border-color: #146dab;
}

input.cc-drop-customtext {
    width: calc(100% - 16px);
    margin: 2px 8px;
    padding: 4px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    color: #393939;
    padding-right: 16px;
    background-position: right 4px center;
    background-size: 9px;
}

    input.cc-drop-customtext:focus {
        outline: none;
        border-color: #146dab;
    }