﻿a.a16
{
	display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: bottom;
}

.ed16
{
	background:url(icons16/edit.png)	
}

.del16
{
	background:url(icons16/del16.gif)	
}

.remove16
{
	background:url(icons16/minus16.png)	
}

.min16
{
	background:url(icons16/min16.png)	
}

.max16
{
	background:url(icons16/max16.png)	
}

.zoomin16
{
	background:url(icons16/zoom-in.png)		
}

.zoomout16
{
	background:url(icons16/zoom-out.png)		
}

.plus16
{
	background:url(icons16/plus.gif)		
}

.minus16
{
	background:url(icons16/minus.gif)		
}

.set16 
{
    background-repeat:no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: bottom;
}