﻿.iPhoneCheckContainer
{
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
    display:inline-block;
}
.iPhoneCheckContainer input
{
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.iPhoneCheckContainer label
{
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue" , Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
    width:120px;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label
{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

label.iPhoneCheckLabelOn
{
    background: url('images/iphone-style-checkboxes/on.png?128469726811') no-repeat;
    left: 0;
    padding-top: 5px;
}
label.iPhoneCheckLabelOff
{
    background: url('images/iphone-style-checkboxes/off.png?128469726816') no-repeat right 0;
    text-align: right;
    right: 0;
}

label.iPhoneCheckLabelOnText
{
    color: white;
    left: 0;
    padding-top: 5px;
    padding-left: 8px;
}
label.iPhoneCheckLabelOffText
{
    color: #8b8b8b;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
    padding-right: 8px;
}




.iPhoneCheckHandle
{
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('images/iphone-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px;
    
}



.iPhoneCheckHandleRight
{
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('images/iphone-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
    
}

.iPhoneCheckHandleCenter
{
    height: 100%;
    width: 100%;
    background: url('images/iphone-style-checkboxes/slider_center.png?1284697268');

    
}

.iPhoneCheckDisabled
{
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);*/
    /*visibility:hidden;*/
}




.iPhoneCheckNoChange
{
    /*visibility:hidden;*/
}


.iPhoneCheckNoChange .iPhoneCheckHandle, .iPhoneCheckNoChange .iPhoneCheckHandleRight, .iPhoneCheckNoChange .iPhoneCheckHandleCenter
{
    background:none;
}

.iPhoneCheckNoChange .iPhoneCheckLabelOn, .iPhoneCheckNoChange .iPhoneCheckLabelOff
{
    background-image: url('images/iphone-style-checkboxes/nochange.png?1284697268'); 
     
}

.iPhoneCheckDisabled .iPhoneCheckHandle, .iPhoneCheckDisabled .iPhoneCheckHandleRight, .iPhoneCheckDisabled .iPhoneCheckHandleCenter
{
    background:none;
}

.iPhoneCheckDisabled .iPhoneCheckLabelOn, .iPhoneCheckDisabled .iPhoneCheckLabelOff
{
    background-image: url('images/iphone-style-checkboxes/disabled.png?1284697268');   
}

.iPhoneCheckLabelOn span
{
    z-index:10000;
}


