﻿body {
}
/*
Tipr 2.0.1
Copyright (c) 2015 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/


.tipr_content
{
     font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: #333; 
     background-color:#fcf8e3;
     padding: 9px 17px;
     display:block;
     text-align:left;
     font-weight:normal;
     text-shadow:none;
}
.tipr_container_bottom
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000;
     /*border-style:solid;
     border-color:#fcf0ad;*/
}
.tipr_container_top
{
     display: none;
     position: absolute;
     margin-top: -77px;
     z-index: 1000;
     /*border-style:solid;
     border-color:#fcf0ad;*/
}
.tipr_point_top, .tipr_point_bottom 
{
     position: relative;
	background: #fff;
	border: 1px solid #dcdcdc;
}
.tipr_point_top:after, .tipr_point_top:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_top:after
{
	border-top-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_top:before 
{
	border-top-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}
.tipr_point_bottom:after, .tipr_point_bottom:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	bottom: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_bottom:after
{
	border-bottom-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_bottom:before 
{
	border-bottom-color: #dcdcdc;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}
#info{
    width: 20px;
    height: 24px;
    margin: 0px 9px;
    background: url(/App_Static/images/info.png);
    float: right;
    background-size: 206%;
    background-position-x: -3px;
    background-repeat:no-repeat;
    cursor:pointer;
}


 .masklayer
{
    background: black;
    opacity: 0.5;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom:0%;
    position: absolute;
    display: none;
    /*right: 1px;*/
    left: 0px;
}
.mask
{
    display: none;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 300px;
    z-index: 100;
    opacity: 0.5;
}


.mastefield-list span
{
	padding: 2px;
	padding-left: 22px;
	margin: 2px 10px 2px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	cursor: move;
	display: block;
	background: url(icon16/blue-right.png) 2px center no-repeat;
}

.mastefield-list a
{
	padding: 2px;
	padding-left: 22px;
	margin: 2px 10px 2px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	cursor: move;
	display: block;
	background: url(icon16/add.gif) 2px center no-repeat;
	cursor:pointer;
}

.mastefield-list span.cat-added
{
	background-image: url(icon16/done.png);
}

.fields-list
{
	height: 100px;
	border-right: 1px solid #CFCFCF;
	overflow-y: auto;
	overflow-x: hidden;
	overflow-style: panner;
	font-size: 0.9em;
}

	#webmessage {
	position: fixed;
	width: 320px;
	height: 84px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	bottom: 20px;
	right: 20px;
	padding-left: 10px;
	text-align: left;
	display: none;
	
	color:Gray;
}


.div-cat-create
{
	padding: 10px;
	background: #e0eaf0;
	border: 1px solid #d0dae0;
	margin-right: 10px;
}

.category-list
{
	margin-right: 10px;
	margin-top: 10px;
	min-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.category
{
	background: #ece8ca;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ece8ca), to(#f5f4e5)); /* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f5f4e5, #ece8ca); /* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f5f4e5, #ece8ca); /* IE 10 */
	background: -ms-linear-gradient(top, #f5f4e5, #ece8ca); /* Opera 11.10+ */
	background: -o-linear-gradient(top, #f5f4e5, #ece8ca);
	padding: 6px;
	--border-radius: 8px;
	border: 1px solid #bfbdad;
	border-top:0px none;
	margin-right: 5px;
	--margin-bottom: 10px;
}

.category:first-child
{
	border: 1px solid #bfbdad;
}

.cat-fields
{
	padding: 6px;
	background: White;
	border-radius: 4px;
	border: 1px solid #CFCFCF;
	min-height: 5px;
	margin-top: 6px;
}

.cat-fields div
{
	padding: 2px;
	padding-left: 4px;
	padding-right: 6px;
	margin: 2px 10px 6px 3px;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	float: left;
	font-size: 0.8em;
	cursor: ew-resize;
}

.cat-name
{
	font-weight: bold;
	font-size: 1.0em;
}
.cat-num
{
	font-weight: bold;
font-size: 1.0em;
margin-left: 4px;
position: relative;
top: 3px;
}
.category .props
{
	cursor: ns-resize;
}

.category .edit
{
	display: none;
}

.category .view
{
	display: inline-block;
	vertical-align: middle;
}

.category .controls
{
	display: none;
}

.minimized .cat-fields
{
	display: none;
}

.td-field-master
{
	width: 250px;
	min-height: 100px;
	max-height: 100px;
	padding-left: 15px;
	padding-bottom: 5px;
}

.field-master
{
	min-height: 50px;
	margin-right: 20px;
}

.main-support-toggle {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.main-support-toggle-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main-support-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.main-support-toggle-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  right: 4px;
  bottom: 3px;
  background-color: #1677c9;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.main-support-toggle-switch-input:checked + .main-support-toggle-slider:before  {
	background-color: #186d08;
	right: 57px;
}
.main-support-toggle-text {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 8px;
    right: 0;
    bottom: 0;
	display: flex;
    overflow: hidden;    
	color: #3e3e3e;
    font-weight: 500;
    font-size: 12px;
	width: 50px;
	-webkit-transition: .3s;
	transition: .3s;
}
.main-support-toggle-text:before,
.main-support-toggle-text:after {
	display: block;
	content: '';
	padding: 2px;
	white-space: pre;
}
.main-support-toggle-text:before{
	content: 'Prod. V';
}
.main-support-toggle-text:after {
	content: 'Internal';
	margin-left: 4px;
}
.main-support-toggle-switch-input:checked ~ .main-support-toggle-text {
    left: 22px;
}
.main-support-toggle-switch-input:checked ~ .main-support-toggle-text:before {
	margin-left: -50px;
}