.hidden
{
    display: none;
}
.EditedValue {
  color: red;
}

.panel-spacer
{
    display: none;
    background:none;
}

.left-content-area h2
{
    margin: 0px 0px 20px 0px;
    border: 1px solid White;
    border-radius: 6px;
    padding: 0px 0px 3px 10px;
}

.parcel-toolbar
{
    background-image: linear-gradient(bottom, rgb(214,214,214) 25%, rgb(222,222,222) 26%, rgb(199,199,199) 77%);
    background-image: -o-linear-gradient(bottom, rgb(214,214,214) 25%, rgb(222,222,222) 26%, rgb(199,199,199) 77%);
    background-image: -moz-linear-gradient(bottom, rgb(214,214,214) 25%, rgb(222,222,222) 26%, rgb(199,199,199) 77%);
    background-image: -webkit-linear-gradient(bottom, rgb(214,214,214) 25%, rgb(222,222,222) 26%, rgb(199,199,199) 77%);
    background-image: -ms-linear-gradient(bottom, rgb(214,214,214) 25%, rgb(222,222,222) 26%, rgb(199,199,199) 77%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgb(214,214,214)),
	    color-stop(0.26, rgb(222,222,222)),
	    color-stop(0.77, rgb(199,199,199))
    );
}

.parcel-toolbar table
{
    border-spacing:0px;
    width:100%;
}

.parcel-toolbar table td
{
    padding:0px;
}

.mediumtext
{
font-size: 10pt;
font-weight: bold;
}

 table .hidedheader td
{
    padding-left:0px;
}

.parcel-toolbar table button
{
    margin:2px;
    padding:5px 15px;
    font-weight:bold;
}

.parcel-head
{
    background-color: #DDD;
    height: 140px;
}

.parcel-photo-thumb
{
    background-color: #EFEFEF;
    float: left;
    margin-right: 10px;
}

.photo-thumb
{
    height: 128px;
    margin: 5px;
    border: 1px solid #CFCFCF;
    width: 200px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-color:White;
}

/********************************************
This region commented by MSP on 30-08-2013 7.09 PM
.parcel-data-head
{
    background-color: #CCB;
    height: 32px;
}
*********************************************/
.parcel-data-head {
background-color: #CCB;
height: 32px;
width: 100%;
}
.parcel-data-title
{
    font-weight: bold;
    padding: 6px;
    font-size: 11pt;
    float: left;
}
.edited-tab
{
    color:Red !important;
}
 
.menu-trigger
{
    height: 32px;
    width: 32px;
    display: block;
    background-image: url('quality/menu-trigger.png');
    background-position:0px 0px;
    float: left;
    cursor: pointer;
}

.menu-trigger[status="on"]
{
    background-position:-32px 0px;
}
/*.category-menu
{
    min-width: 280px;
    border: 1px solid #BFBFBF;
    background: #FCFCEC;
   float: left;
   position:relative;
}*/
.category-menu
{
    min-width: 200px;
    border: 1px solid #BFBFBF;
    background: #FCFCEC;
    float: left;
    position:relative;
}
/*****************************************
This Region commented by MSP on 30-08-2013 3.27 PM
.category-menu
{
    min-width: 280px;
    position: absolute;
    border: 1px solid #BFBFBF;
    background: #FCFCEC;
    box-shadow: 3px 3px 5px #BFBFBF;
    z-index:1000;
}
****************************************/

.category-menu a
{
    display: block;
    padding: 4px 10px;
    padding-right: 15px;
    margin: 3px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    text-decoration: none;
    color: #111;
}


.category-menu a:hover
{
    background: #EED;
    border: 1px solid #BFBFBF;
    color: Black;
}

.field-category-edited
{
    font-weight:bold;
    color:Red !important;
}

.categorymenucolor .field-category-edited
{
    color:White !important;
}

.dashboard-layout
{
    width:100%;
}


.parcel-data-category-container
{
    overflow: auto;
}

.pdc-margin
{
}

.parcel-field-values
{
    margin-top: 10px;
    margin-bottom: 30px;
}

.parcel-field-values td
{
    vertical-align: top;
    padding: 2px;
}

.parcel-field-values tr[hidedonotshowph="True"] {
    display: none;
}

.parcel-field-values .label
{
    padding-right: 60px;
    padding-left: 8px;
    padding-top: 4px;
    min-width: 200px;
}

/*.parcel-field-values .label:after
{
    content: ":";
}*/

.parcel-field-values td.value
{
    border-left: 5px solid White;
}

.parcel-field-values td.unsaved
{
    border-left: 5px solid Blue;
}

.parcel-field-values .value .input:not(.cc-drop)
{
    background: White;
    border: 1px solid #BFBFBF;
    float: left;
}
 
.parcel-field-values .value input, .parcel-field-values .value select
{
    height: 18px;
    padding: 1px;
}

.parcel-field-values .value select
{
    height: 22px;
}

.parcel-field-values .value .input:not(.cc-drop)[readonly]
{
    background: #EFEFEF;
    border: 1px solid #BFBFBF;
}

.parcel-field-values .value .input.cc-drop{
    background-color: White;    
}

.parcel-field-values .value .input.cc-drop[readonly]{
    background-color: #EFEFEF !important
}
.parcel-field-values .value .input[disabled] {
    border: 1px solid #BFBFBF;
    color: #545454;
}

.parcel-field-values .value textarea
{
    font-family: Arial;
    min-width: 400px;
    max-height: 144px;
    min-height: 36px;
}

.category-page[parceldata] .data-navigator
{
    display: none;
}

.data-navigator
{
    background: #E5E5E5;
    border: 1px solid #D5D5D5;
    padding: 2px;
}

.data-navigator button.grid-view-qc
{
    /*font-family: Webdings;*/
    /*float: right;*/ 
    font-weight: bold;
}

.data-navigator span.records-indicator
{
    width: 170px;
    text-align: center;
    display: inline-block;
}

.parcel-head-values
{
}

.bigtext
{
    font-size: 14pt;
    font-weight: bold;
}

.medtext
{
    font-size: 12pt;
    font-weight: bold;
}

.top-border
{
    border-top: 1px solid #BBBBBB;
}

.bottom-border
{
    border-bottom: 1px solid #BBBBBB;
}

.rightpad
{
    padding-right: 30px;
}

.qc a
{
    display: inline-block;
    height: 20px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    color: White;
    font-size: 11pt;
    margin-left: 4px;
}

.qc a[clicked="yes"]
{
    border:3px #49C4F5 solid;
}
.qc .check
{
    background: Red;
}

.qc .passed
{
    /*font-family: Webdings;*/
    background: Green;
}

.approved
{
font-weight:bold;
color : Green !important;
}

.field-audit-qc
{
    background-color: #fec;
    border: 1px solid #d9ceb8;
    box-shadow: 2px 2px 2px #e6e3dd;
    width: 400px;
    padding: 5px;
    overflow:auto;
    position: absolute;
      z-index: 10000;
      right:0px;
  margin-left: 531px;
   margin-top: -311px;
    width: 273px;
}

.field-audit-qc .info
{
    font-size: smaller;
    margin-bottom: 6px;
    color: #666;
}

.field-audit-qc .audit-head
{
    padding: 2px;
    padding-top: 0px;
}


.field-audit-qc .initial-value
{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

table.parcel-changes
{
    border-spacing: 0px;
    font-size: smaller;
    width: 100%;
    margin-top: 5px;
}

table.parcel-changes thead tr th
{
    text-align: left;
    border-bottom: 1px solid #d9ceb8;
}

table.parcel-changes tbody tr td
{
    padding: 2px;
}

table.parcel-changes .date
{
    width: 60px;
}

table.parcel-changes .user
{
    width: 90px;
}

table.parcel-changes .value a
{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.create-filter
{
}

.create-filter .select
{
    max-width: 276px;
    min-width: 200px;
}

.create-filter .value
{
    max-width: 276px;
    min-width: 200px;
    font-family: Arial;
    font-size: 9pt;
}

.filter-value
{
    margin-bottom:5px;
}

.filter-value .value
{
    font-family: Arial;
    font-size: 8.7pt;
    padding:3px 2px;
    border:1px solid #BBB;
}

.filter-value input
{
    width: 255px;
}

.filter-value input[type="date"]
{
    width: 256px;
}

.filter-value select
{
    width: 261px;
}

.filter-value input.half
{
    width: 106px;
}

.filter-value input.half[type="date"]
{
    width: 110px;
}

.filter-value select.half
{
    width: 112px;
}

.filter-control-links
{
    border-spacing: 0px;
    width: 95%;
    margin-bottom: 0px;
}

.filter-control-links tr td
{
    text-align: right;
    font-size: 8pt;
}

.filter-control-links tr td a
{
    text-decoration: underline;
    cursor: pointer;
}

.filter-control-links tr td:first-child
{
    text-align: left;
}

.between-and
{
    
    width: 35px;
    text-align: center;
}
.current-filter 
{
    margin-left:5px;
}

.current-filter .buttons
{
    text-align: center;
    padding: 5px;
    width: 95%;
}

.current-filter .buttons button
{
    padding: 10px 30px;
    font-weight: bold;
}

.remove-filter
{
    background: White;
    color: Red !important;
    margin-right:4px;
    display: inline-block;
    width: 18px;
    border-radius: 4px;
    font-weight: normal !important;
    text-decoration: none !important;
    text-align: center;
    font-family: Webdings;
}

.query-save-links
{
    border-spacing: 0px;
    margin-bottom: 0px;
    margin-top:30px;
    width:97%;
}

.query-save-links tr td
{
    text-align: right;
    font-size: 8pt;
}

.query-save-links tr td a
{
    text-decoration: underline;
    cursor: pointer;
}

.query-save-links tr td:first-child
{
    text-align: left;
}

.template-control
{
    width:100%;
}

.template-control button
{
    padding:3px 8px;
}

.qc-delete-template {
    font-family: 9pt !important;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border: 1.5px solid grey;
    border-radius: 3px;
}



    .photo-frame {
        background-color: white;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

.photo-preview
{
	margin: 0px auto;
    border: 2px solid White;
    background-color: White;
    width: 370px;
    height: 200px;
    background-position: center center;
    background-size: 370px 200px;
    background-repeat: no-repeat;
}


.photo-frame-popup
{    
      margin-top: 25px;  
}
.sketch-frame
{
    background-color:White;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}

.add-photo-frame, .add-sketch-frame
{
    background:#EFEFEF;
    height:40px;
    padding:0px;
}

#comploader
{
      background-image: url('images/comploader-old.gif');
      background-repeat:no-repeat;
      background-position :center;
       width: 100%;
     height : 100%;
     position: absolute;
     top: 0%;
     bottom:0%;
     left: 0%;
    
     
}

#bgcomploader{
    background: rgba(219,217, 217, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


#photouploader
{
    margin:0px;
    height:40px;
    width:100%;
}

.photo-nav-button
{
    display:block;
    width:80px;
    height:300px;
    background-position:center center;
    background-repeat:no-repeat;
}

.photo-nav-button-popup
{
    height:400px !important;
}

.create-filter button
{
    width:80px;
    height:26px;
}

.nav-left
{
    background-image:url(imgbrw/photo-left.png);
    float:left;
}

.nav-left-popup
{
   margin-left: 120px;  
}

.nav-right
{
    background-image:url(imgbrw/photo-right.png);
    float:right;
}

.photo-frame
{
    text-align:center;
}

.photo-frame .photo-nav-button, .photo-frame .photo-button
{
    display:none;
    opacity:0.4;
}
#photo-properties-frame .photo-nav-button
{
    display:block;
    opacity:0.4;
}
.photo-frame:hover .photo-nav-button
{
    display:block;
}

/*#photo-properties-frame:hover .photo-nav-button
{
    display:block;
}*/

.photo-frame:hover .photo-button
{
    display:inline-block;
}

.photo-frame:hover .photo-button.hidden
{
    display:none;
}

.photo-button
{
    width:132px;
    height:36px;
    margin:5px 15px;
}

.photo-download-button
{
    background:url(imgbrw/photo-download.png);
}

.photo-properties-button
{
    background:url(imgbrw/photo-properties.png);
    cursor:pointer;
}
.photo-delete-button
{
    background:url(imgbrw/photo-delete.png);
}

.photo-recover-button
{
    background:url(imgbrw/photo-recover.png);
    cursor:pointer;
}

.mainImage-button {
    background: url(imgbrw/favorite.png) no-repeat;
    opacity: 1 !important;
    width: 36px !important;
}

.setAsMain-button {
    background: url(imgbrw/photo-setAsMain.png) no-repeat;
    cursor: pointer;
    border-radius: 15px;
}

.photo-frame .photo-nav-button:hover, .photo-frame .photo-button:hover
{
    opacity:0.8;
}

#photo-properties-frame .photo-nav-button:hover
{
    opacity:0.8;
}


.photo-frame[photo="0"] .photo-nav-button, .photo-frame[photo="0"] .photo-button
{
    display:none;
}

.googlemap
{
    background:#CFDFDF;
}


.custommap
{
    background:#CFDFDF;
}

.parcel-qc-pad
{
}

.parcel-qc-pad button
{
    padding:5px 25px;
    font-size:14pt;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100% );
    border:1px solid #222;
    border-radius:4px;
    cursor:pointer;
    color:#BFBFBF;
    text-shadow:1px 1px #777;
}
.parcel-qc-pad button {
float: left;
margin-right: 4px;
}
.parcel-qc-pad button:hover
{
    background-image: -webkit-linear-gradient(top, #eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100% );
    color:#444;
    text-shadow:1px 1px #777;
}

.parcel-qc-pad .qc-notset
{
}

.parcel-qc-pad .qc-passed
{
}

.parcel-qc-pad .qc-failed
{
}
  


.parcel-qc-pad .qc-notset[selected]
{
    background-image: -webkit-linear-gradient(top, #BBB 0%, #AAA 49%, #888 50%, #777 100% );
    color:#FFF;
    text-shadow:1px 1px #CCC;
}

.parcel-qc-pad .qc-passed[selected]
{
    background-image: -webkit-linear-gradient(top, #44bf3b 0%, #1fa815 49%, #278f1f 50%, #107c07 100% );
    color:#FFF;
    text-shadow:1px 1px #CCC;
}

.parcel-qc-pad .qc-failed[selected]
{
    background-image: -webkit-linear-gradient(top, #cb4444 0%, #ca2424 49%, #b53030 50%, #a62020 100% );
    color:#FFF;
    text-shadow:1px 1px #CCC;
}


.recent-audit-trail
{
    width:400px;
}

.recent-audit-trail table
{
    width:100%;
    font-size:smaller;
}

.recent-audit-trail .recent-at-title, .dashboard-title
{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom:15px;
    border-bottom:1px solid #DFDFDF;
}

.dashboard-title
{
    border-bottom:1px solid #DFDFDF;
}

.recent-audit-trail .audit-info
{
    color: gray;
    font-style: italic;
    
}

.recent-audit-trail .audit-detail
{
    margin-bottom:6px;
}

.parcel-alert-message, .bulk-alert-message, .bulk-Notes
{
    width:360px;
    height:80px;
    min-height : 36px;
    max-height:144px;
    font-family:Arial;
}

.parcel-priority, .bulk-priority, .selected-estimate, .dtr-selected-status
{
    width:150px;
}

.field-review-results tr td
{
    height:26px;
}

.content-block-header
{
    background: url(flex/wbg.gif) repeat-x top;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-top: 0px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.content-block-header div
{
    padding: 6px;
    white-space: nowrap;
}

.bulk-editor
{
    background:#eeeee0;
}

.bulk-edit-form
{
    padding:9px;
}

.bulk-edit-form table tr td
{
    vertical-align:top;
    padding-bottom:5px;
}

.bulk-op-links
{
    font-weight:bold;
}

.bulk-op-links a
{
    text-decoration:underline;
    cursor:pointer;
    margin-right:8px;
}

.bulk-alert-message, .bulk-Notes
{
    width: 320px;
}

.adhoc-creator
{
    background:#eeeee0;
}

.adhoc-creator-form
{
    padding:9px;
}

.adhoc-creator-form table tr td
{
    vertical-align:top;
    padding-bottom:5px;
}

.ui-tabs .ui-tabs-panel
{
    padding:1px 10px !important;
}
/*MSP*/
.parentCategoryTitle,.childCategoryTitle
{
    color: #167ccf;
}
.parentCategoryTitle:hover,.childCategoryTitle:hover
{
    text-decoration:underline;
    }
.childCategoryDiv li
{
    display: inherit;
}
.childCategoryDiv
{
   
    margin-top: -17px;
    margin-left: 15px;
     display:none;
}
.audit-detail a:hover
{
    text-decoration:underline !important;
}

.audit-detail a[correspondingchangeid="none"]
{
    pointer-events: none;
    text-decoration:none !important;
    cursor:not-allowed !important;
}
.maskForParcelLoad
{
display: block;
position: relative;
background-color: #ddd;
top: 0px;
margin-top: -650px;
}
.categorymenucolor , .categorymenucolor:hover
{
    background-color: #81BEF7 !important;
}
.required
{
font-size: 13px;
color: red;
font-weight: bold;
display:none;
}
.recent-audit-trail-main thead tr td
{
    font-weight:bold;
    background-color:#B8B8B8 ;
}
.recent-audit-trail-main tr:hover
{
    background-color:#D5EFFC;
}
.recent-audit-trail-main tr td
{
    border-bottom:solid 1px #C8C8C8;
}
.recent-audit-trail-main td 
{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.auxrecover
{
    padding:5px;
    background:#F69A9A;
    width:555px;
    display :none ;
}
.auxrecover span[rec]
{
 text-decoration: underline;
color: #FFFFFF;
cursor: pointer;
font-weight: bold;
}
.auxrecover span[close]
{
    float: right;
}

.Desk_Review_Status {
    float: right;
    margin-top: -55px;
    margin-right: 53px;
}

.tab_selected_estimate {
    float: right;
    margin-top: -48px;
    margin-right: 53px;
}

.lastReviewedMain {
    float: right;
    margin-top: -27px;
    margin-right: 83px;
}

.customddlspan
{
   /* display:inline-block;*/
    background-image:url('/App_Static/css/icons/Search1.png') ;
    width: 24px; 
    height:24px;
    /*background: url(images/Search.png);
    width: px;
    height: 30px;
    float: right;
    margin-right: 15px;
    margin-top: 4px;*/
}

span[hide]
{
   /* display:none;*/
}
/*.customddlspan
{
    font-family:Webdings;
}*/
#webmessage {
position: fixed;
width: 320px;
height: 84px;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #f5e9af;
border: 1px solid #eace45;
bottom: 20px;
right: 20px;
padding-left: 10px;
color:#2d2d2d;
padding:10px;
display:none;

}
.masklayer
{
    background: black;
    opacity: 0.5;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom:0%;
    position: absolute;
    display: none;
}
.mask
{
display: none;
height: 700px;
position: absolute;
top: 0;
left: 0;
background-color: black;
width: 300px;
z-index: 100;
opacity: 0.5;
}
.divCodeFile
{
display:none;
width: 750px;
height: 500px;
position: absolute;
top: 88.5px;
left: 383px;
z-index: 5002;
background-color: white;
/*overflow:auto;*/
}

.infoButton {
    cursor: pointer;
    background-position-x: -22px;
    background: url(/App_Static/images/info.png) no-repeat;
    width: 20px;
    height: 24px;
    background-size: 180%;
    position: absolute;
    margin: 0px 9px;
    display: none;
}

.infoContentContainer {
    position: absolute;
    top: 25%;
    left: 27%;
    height: 365px;
    width: 46%;
    background-color: rgb(242, 242, 242);
    border: 1px solid silver;
    display: none;
    z-index: 9999;
}

.infoContentHeader {
	padding: 7px; 
	border-bottom: #e4e4e4; 
	border-bottom-width: 1px; 
	border-bottom-style: solid; 
	background: linear-gradient(#e4e4e4, #e7e7e7); 
	font-weight: bold; 
	color: #5c5c5c;
}

.infoContent {
	height: 295px; 
	overflow: auto;
    padding: 5px 10px;
}

.infoContentFooter {
	height: 14px;
	padding: 7px;
    background: linear-gradient(#e7e7e7 , #e4e4e4);
    border-top: #e0e0e0;
    border-top-style: solid;
    border-top-width: 1px;
}

.match
{
    overflow: auto;
    height: 335px;
    width: 667px;
    margin-top: 10px;
    margin-left: 40px;
}
.divCodeFile input[type="text"] {
    margin: 22px 4px 0px 40px;
    width: 470px;
    height: 19px;
    font-size: 10pt;
}
.divCodeFile button[type="button"] {
	display: inline-block;
    margin: 22px 42px 0px 17px;
    width: 80px;
    height: 24px;
    background-color: rgba(75, 151, 219, 0.81);
    font-size: 10pt;
}
ul.customul {
    list-style-type: none;
    padding: 0px;
}
.customul li
{
    border-bottom: 1px solid #ACCCD8;
    border-top: 1px solid #ACCCD8;
    padding:5px;
    height: 21px;
   /* margin:2px;*/   
}
.customul li[select="selected"]
{
       background-color:#ACCCD8;
}
div.searchtools button
{
    float:right;
   
}

div[searchtools]
{
    float:left;
}
.searchitem
{
    float:left;
}
.divin
{
    margin-top: 10px;
}

/*MSP*/

/********** Modified By Prasidh On 2015.03.10*/

.photo-frame-allPhotos
{
    text-align:center;
    height:auto;

}

.photo-frame-allPhotos .photo-nav-button, .photo-frame-allPhotos .photo-button
{
    display:none;
    opacity:0.4;
}

.photo-frame-allPhotos:hover .photo-nav-button
{
    display:block;
}

.photo-frame-allPhotos:hover .photo-button
{
    display:inline-block;
}


/***********/

.photo-all-parcels
{
    width: 138px;
    height: 122px;
    padding: 5px;
    margin: 5px;
    display: block;
    float: left;
    border: 2px solid #AAA;
    box-shadow: 3px 3px 3px #CCC;
    background-color: White;
    position:relative;
}

.photo-all-parcels-item
{
    margin-top:12px;
    margin-left:8px;
    width: 118px;
    height: 98px;
    display: block;
    border: 1px solid #DDD;
    background-color: White;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.btn 
{
    min-width:100px;
    width:auto;
    height:20px;
    border: none;
    text-align:center;
    margin-left:5px;
    background: none;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}


.btn a
{
    padding-left:4px;
    padding-right:4px;
    color:rgb(76, 65, 65);   
    text-decoration: none;
}

.btn a:hover 
{
    color:Black;
}

.btn-2 
{
    background: #FFFFFF;
    color: rgb(47, 46, 46);
    transition: none;    BORDER: 1px solid #AFABAB;
    min-width: 90px;
    font-size: 13px;
    height: 19px;
    border-radius: 4px;
}

.btn-2g {
    margin-top: 2px;
}

.btn-2g-popup {
    margin-top: -40px;
}

.btn-2g:hover {
    box-shadow: 0 0 6px #8E8D8D;
	border-color:Gray;
	color:Black;
}
.mapButton {
   	background-color: #167ccf;
    border: none;
    color: white;
    padding: 1px 16px;
    text-align: center;
    font-size: 13px;
    margin: 5px 6px 0px 5px;
}
.infoDiv{
    cursor: default;
    clear: both;
    position: relative;
    
    background-color: rgb(250, 250, 250);
    /*padding: 2px;
    border-width: 1px;
    border-radius: 0px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    width: 100%;
    height: 100%;*/
}
.photo-Manager
{
    float:right;
    padding-right:20px;  
}

.photo-Manager-Back
{
    float:right;
    padding-right:20px;  
}
.prc-format
{
    padding: 8px;
}

.prc-format table tr td
{
    vertical-align: top;

}
.prc-format a
{
    color: Blue;
    font-size: 11pt;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 3px;
}

.vspacer
{
    height: 4px;
    background: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bigbox
{
    border: 4px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.smallbox
{
    border-bottom: 2px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.nbhd-profile-area 
{
    height: 90px;
    background-color: #CCB;
    padding: 5px;
    font-size: 1.0em;
}

.profile-title
{
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}
.profile-title td
{
    padding: 8px;
}

.bordered-table
{
    border-color: #CFCFCF ;
    border-collapse: collapse;
    margin-left: 7px;
}

.bordered-table TR
{
    border-color: #CFCFCF;
}

.bordered-table TR TD
{
    border-color: #CFCFCF;
}
.b
{
    font-weight: bold;
}

.c
{
    text-align: center;
}

.d 
{
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
}

.fw
{
    width: 80%;
}

.btnPopUp  
{
   width: 19px;
    height: 18px;
    position: absolute;
    right: 1px;
    top: -18px;
    font-weight: bolder;
    /* font-family: Webdings; */
    font-size: 20px;
    color: #131111;
    cursor: pointer;
} 

.btnPopUp:hover { 
   color: #167ccf;
}
.nostreetview{
    margin-left: 19%;
    position: absolute;
    top: 266px;
    color: red;
    display:none;
    }
.app-action-reset-cache:hover
{
	color:Yellow;	
}

.reset-app-link:hover{
    color:red;
}

.before-sketch:hover
{
	color:red;	
}
.prtsketch
{
    width:63px;
}
.aux-ROWUID{
    /*position: absolute;*/
    float:right;
    top:10px;
    margin-right: 15px;
}

.data-collection-table{
    border-collapse:collapse;
    margin-top: 24px;
    min-width: 80%;
}
.aux-grid-button {
    margin:2px;
    padding:2px 10px;
    font-weight:bold;
    margin-left: 4px;
    background: rgba(148, 191, 226, 0.89);
    color: #362b36;
    border-style: solid;
    border-width: 1px;
    float: right;
    margin-right: 10px;
}
.aux-grid-head {
    margin-top: 0px;
    background: #E5E5E5;
    padding: 4px;
    clear: both;
    height: 26px;
    border: 1px solid #D5D5D5;
   
}
.aux-grid-scroll{
	overflow-x:auto;
	overflow-y:hidden;
	padding-left: 14px;
}

.data-collection-table td{
    text-align:center;
    padding:3px;
}
.data-collection-table th{
    text-align:center;
    padding:3px;
}
.aux-grid-up {
    margin:2px;
    padding:2px 15px;
    font-weight:bold;
    background: rgba(148, 191, 226, 0.89);
    color: #362b36;
    border-style: solid;
    border-width: 1px;
    float: left;
 
}
.multigridSelected {
    background-color: #ACE4FB;
}
.qc-visualstats-item{
    display: inline-block;
    padding-bottom: 5px;
    color: red !important;
    width:100%;
}

.qc-visualstats-count{margin-left:5px;}

.qc-visualstats-item:hover{
    cursor: pointer;
    transition: 300ms;
    zoom: 1;
    opacity: 0.85;
}

.aqc-item{
    display: block;
    margin-top:8px;
}

.aqc-count { float: right; }

.aqc-item:hover > .aqc-count {
     text-decoration: underline;  
     cursor: pointer;
     transition: 300ms;
     zoom: 1;
     opacity: 0.85;
}

.aqc-indicator {
    float: left;
    width: 9px;
    height: 9px;
    margin: 3px 5px 0px 2px;
    border: 1px solid rgba(0, 0, 0, .2);
}

#noti_Container {
    position:relative;
    width:16px;
    height:16px;
}
.noti_bubble {
    position:absolute;   
    top: -8px;
    right:-13px;
    padding:1px 2px 1px 2px;
    background-color:rgba(205, 10, 10, 0.79); 
    color:white;
    font-weight:bold;
    font-size:0.65em;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
    display:none;
}
.aux-deleted {
   background-color: #FFFF99;
}
.data-collection-table tr.aux-deleted .EditedValue {
    color: black !important;
}    
.photo-details span{
    max-width: 17%;
    margin-left: 20px;
    
}  

.tabPrimary {
    margin-left:-14px;
    position: relative;
    z-index: 999;
    top: -9px;
    float: left;
    width: 32px;
    height: 39px;
    display: block;
    background: url(imgbrw/favorite.png) center no-repeat;
}  

.tabDeleted {
    margin-left:-10px;
    position: relative;
    z-index: 999;
    top: -9px;
    float: left;
    width: 32px;
    height: 39px;
    display: block;
    background: url(imgbrw/deleted.png) center no-repeat;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #cecaca; border-radius: 30px;
    height: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "FY";
    padding-left: 10px;
    background-color: #4cd865; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "CY";
    padding-right: 10px;
    background-color: #EEEEEE; color: #6b6a6a;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    /* right: -32px; */
    border: 1px solid #999999; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
    height: 1.1em;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; /*previous value :-60px*/ 
}

.andorswitch {
	position: relative;
    width: 43px;
    float: right;
    margin-top: -2px;
    margin-right: 10px;
}
.andorswitch-checkbox {
    display: none;
}
.andorswitch-label {
   display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #eee; border-radius: 0px;
}
.andorswitch-inner {
     display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.andorswitch-inner:before, .andorswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 17px;
    font-size: 8px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.andorswitch-inner:before {
content: "AND";
    padding-left: 5px;
    background-color: #76baf7;
    color: #FFFFFF;
}
.andorswitch-inner:after {
    content: "OR";
    padding-right: 12px;
    background-color: #76baf7;
    color: #FFFFFF;
    text-align: right;
}
.andorswitch-switch {
    display: block;
    width: 9px;
    margin: 2px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    border: 2px solid #999999;
    border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}
.andorswitch-checkbox:checked + .andorswitch-label .andorswitch-inner {
    margin-left: 0;
}
.andorswitch-checkbox:checked + .andorswitch-label .andorswitch-switch {
    right: 0px; 
}
.andOr-filter{
    margin-bottom: 5px;
}
.bppBannerDiv{
    font-weight: bold;
    padding-top: 42px;
}
.bpp-child-popup{
    position: absolute;
    height: auto;
    min-height: 100px;
    max-height: 450px;
    width: auto;
    min-width: 150px;
    max-width: 540px;
    background: #FFFFFF;
    left: 47%;
    top: 31%;
    margin-left: 10px;
    border: 1px solid #3b8ad1;
    padding: 10px;
}
.bpp-child-popup .popup-title {
    background-color: #92c6f4;
    font-weight: bolder;
}
.bpp-child-ul{
   width: 110px;
}
.bpp-child-ul li {
     padding: 4px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    /*border-bottom: 1px solid #dddddd;*/
}
.bpp-child-ul li:last-child {
  border: 0;
}
.bpp-child-ul li:hover {
  /*background-color: #cde5fa;*/
  
}
.bpplink{
text-decoration: underline; 
padding-left: 7px;
}
.new-bpp-icon{
 	background: url(/App_Static/images/bpp-new.png) no-repeat;
    width: 45px;
    height: 26px;
    background-size: 100%;
}
.recover-bpp-icon{
    background: url(/App_Static/images/bpp-overdue.png) no-repeat;
    width: 61px;
    height: 25px;
}

		.showSidePanel {
		    background: url(/App_Static/css/images/search.png);
		    background-size: 82%;
		    background-repeat: no-repeat;
		    cursor: pointer;
		    display:none;
		    float: left;
		    width: 33px;
		    height: 29px;
		    z-index: 5000;
		    top: 50%;
		    bottom : 50%;
		    left:2px;
		    position : absolute;
		    margin-left: -1px;
		    background-position-x: 4px;
		    background-position-y: 1px;
		   opacity: 0.7;
		}
		
		.showSidePanel:hover {
			background-color: rgba(232, 232, 150, 0.88);
		}
		 
		.hideSidePanel {
			background: url(/App_Static/css/images/close.png);
		    background-size: 107%;
		    background-repeat: no-repeat;
		    cursor: pointer;
		    float: right;
		    width: 24px;
		    height: 26px;
		    opacity: 0.6;
		 }
		 
		.hideSidePanel:hover{
		 	opacity: 1;
		 }
		 
		.left-panel2 {
			width: 0px;
			background-repeat: repeat;
			background-image: url(/App_Themes/Cloud/images/left-col-bottom-repeat.png);
			min-width: 4px;
			opacity: 0.7;
		}
		 
		.hideonprint2 {
			display:none;
		}
.open-filter
{
	font-weight: bold;
    text-decoration: none;
    padding: 1px 5px;
    margin: 1px;
    margin-left: 3px; 
    background: #82c3e8;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9pt;
}
/***********/
/*************************************/

@keyframes photoloading {
    0% {
    background-position: -118px 0;
  }
  
  100% {
    background-position: 118px 0; 
  }
}

.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: pointer;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

.lkShowAll {
	height: 20px; 
	padding: 10px 20px; 
	font-weight: bold; 
	border: 1px solid #777;
	/*border-bottom: 1px solid #0e0a0a;
	border-top: 1px solid rgb(14, 10, 10);*/
}

.lkShowAlllink:hover {
 	cursor: pointer;
 	color: blue;
}
/*
.cusDpdownSpan {
  border: 1px solid #767676;
  border-radius: 2px;
  width: 275px;
  display: inline-block;
  position: relative;
  height: 28px;
  background: white;
  float: right;
  margin: 5px;
  padding-right: 23px;
}


.cusDpdownSpan {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	width: 219px !important;
	margin:0 !important;
	border: 1px solid #767676;
	border-right:none !important;
	display: inline-block;
	height: 16px;
	background: white;
	padding:2px 4px;
	float: left;
}

.cusDpdown-arrow {
	position: relative;
    width: 25px;
    height: 20px;
    background: #fff;
    border: 1px solid #BFBFBF;
    border-left: none;
    border-radius: 0 2px 2px 0;
    margin: 0;
    height: 20px;
    left:0px;
    float: left;
}

.cusDpdown-arrow:after,
.cusDpdown-arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 2px;
  height: 7px;
  right: 10px;
  background: #222;
}

.cusDpdown-arrow:before {
  right: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.cusDpdown-arrow:after {
  right: 6px;
  transform: translateY(-50%) rotate(45deg);
}

.cusIpad {
	width: 268px;
	border-color:#464646;
	height: 22px;
	padding-top:4px;
	padding-left:6px;
	border-radius: 6px 0px 0px 6px;	
	background: -webkit-linear-gradient(top, #ffffff 0%,#c9c9c9 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#c9c9c9 100%); 
}

.cusIpad-arrow {
	border-left:0.5px solid #565656;
	border-color:#464646;
	width:19px;
    border-radius: 0 6px 6px 0;
	background: -webkit-linear-gradient(top, #9b9b9b 0%,#5b5b5b 100%);
	background: linear-gradient(to bottom, #9b9b9b 0%,#5b5b5b 100%); 
}

.cusIpad-arrow:after,
.cusIpad-arrow:before {
	background:transparent;
	display:none;
}

.cusIpad-arrow:after{
  	right: 7px;
	display:block;
    transform: translateY(-50%);
    border-left: 3.5px solid transparent;
    border-right: 3.5px solid transparent;
    border-top: 5.5px solid #fff;
    width: 0;
    height: 0;
}

.cusDpdown-arrow[readonly] {
	background: #EFEFEF;
}
*/
.lkShowAll {
	height: 15px; 
	padding: 10px 20px; 
	font-weight: bold; 
	border: 1px solid #777;
	margin: 60px 0px 5px 0px;
}

.lkShowAlllink:hover {
 	cursor: pointer;
 	color: blue;
}

.support-toggle {
  display: inline-block;
  float: right;
  margin-top: 4px;
  margin-right:8px
}
.support-toggle-title {
    display: inline-block;
    margin: 3px 6px 0 0;
}
.support-toggle-btn {
  width: 50px;
  height: 25px;
  display: inline-block;
  float:right;
  position: relative;
}

.support-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.support-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9fafb;
  border: 1px solid #5f5f5f;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

.support-toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: #5f5f5f;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20%;
}


input:checked + .support-toggle-slider:before {
    background-color: #2b74b5;
}

input:focus + .support-toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .support-toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* - - - - - - - - - Support View Class - - - - - - - - - - -  */
.parcel__supportView .category-page {
    overflow-x: auto;
}
.parcel__supportView .pk_fkField,
.parcel__supportView .DoNotShowOnDEField {
    display: inline-block !important;
    height: 20px;
    width: 20px;
    margin-top: 0px;
}
.parcel__supportView .pk_fkField {
    width: 16px;
}
.parcel__supportView .qc a {
    width: 20px;
}
.parcel__supportView .parcel-field-values .fldPropcheckboxIcons {
    min-width: 260px;
}
.parcel__supportView .parcel-field-values .label {
    padding: 2px 25px 2px 2px;
}

.parcel__supportView .label .infoButton {
    margin: 0 0 0 2px;
}

.editPropPopup {
    padding: 0 2px;
    font-weight: bold;
}
.fldPropIcons {
    padding: 0 !important;
}
.fldPropIcons span[showFieldPropIcons="Disabled"] {
    display: none;
}

.fldPropcheckboxHead>span {
    width: 20px;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    white-space: break-spaces;
}
.fldPropcheckboxIcons>span {
    width: 20px;
    display: inline-block;
    text-align: center;
}
.parcel__supportView .parcel-field-values textarea {
    width: 250px;
    min-width: 250px;
}
/* - - - - - - - - - Support View Category DV,Hidden   - - - - - - - - - - -  */
.support__catHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 8px;
}
.support__hidAlert {
    padding: 6px;
    background-color: #787878;
    color: #fff;
}
.support__dvRules {
    background: #3e87ce;
    font-weight: 500;
    color: #fff;
    padding: 6px 6px;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px #00000038;
    cursor: pointer;
}

.support__catHead>div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.support__iconToggle {
    margin-right: 8px;
    cursor: pointer;
}

/* Icon Toggle button */
.support__iconToggle-button {
    position: relative;
    top: 50%;
    width: 125px;
    height: 30px;
    border: 1px solid #ddd;
}
.support__iconToggle-cb{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.support__iconToggle-knobs:before, 
.support__iconToggle-knobs:after, 
.support__iconToggle-knobs span
{
    position: absolute;
    top: 4px;
    width: 50px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 6px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

.support__iconToggle-knobs:before
{
    content: '';
    left: 4px;
    background-color: #03A9F4;
}

.support__iconToggle-knobs:after
{
    content: 'Y/N View';
    right: 4px;
    color: #4e4e4e;
}

.support__iconToggle-knobs span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

.support__iconToggle-cb:checked + .support__iconToggle-knobs span
{
    color: #4e4e4e;
}

.support__iconToggle-cb:checked + .support__iconToggle-knobs:before
{
    left: 63px;
    background-color: #55309e;
}

.support__iconToggle-cb:checked + .support__iconToggle-knobs:after
{
    color: #fff;
}

.support__iconToggle-cb:checked ~ .support__iconToggle-layer
{
    background-color: #fcebeb;
}
.parcel__supportView .category-menu {
    max-width: 300px;
}
@media only screen and (min-width: 1800px) {
    .support__iconToggle {
        display: none;
    }
}
@media only screen and (max-width: 1500px) {
    .parcel__supportView .category-menu {
        max-width: 200px;
        min-width: 200px;
    }
    .parcel__supportView .parcel-field-values .label {
        padding-right: 20px;
    }
    .category-menu a {
        word-break:break-all;
    }
}
@media only screen and (max-width: 1400px) {
    .parcel__supportView .category-menu {
        max-width: 150px;
        min-width: 150px;
    }
}

.parcel__supportView .category-menu--wide {
    max-width: 300px;
    min-width: 200px;
}
/* - - - - - - - - - Support View Icon - - - - - - - - - - -  */
.pk_fkField[showKeyPropIcons="FK"],
.pk_fkField[showKeyPropIcons="PK"] {
    background-image: url('/App_Static/images/support_strip.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.pk_fkField[showKeyPropIcons="PK"] {
    background-position: -2px;	
}
.pk_fkField[showKeyPropIcons="FK"] {
    background-position: -22px;	
}

.DoNotShowOnDEField[showfieldpropicons] {
    background-image: url('/App_Static/images/support_strip.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: -60px;	
}
.DoNotShowOnDEField[showfieldpropicons="IconEnabled"] {
    background-position: -40px;	
}

/* - - - - - - - Support View Icon (Symbols) - - - - - - -*/
.fldPropIcons span.support__ic[showFieldPropIcons="IconEnabled"] {
    background-image: url('/App_Static/images/support_strip.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-top: 0px;
}

.deAuditExp[showFieldPropIcons="IconEnabled"] {
	background-position: -87px;	
}
.cusQueryExp[showFieldPropIcons="IconEnabled"] {
    background-position: -110px;	
}
.calExp[showFieldPropIcons="IconEnabled"] {
    background-position: -132px;	
}

/* - - - - - - - Support View Icon (Text) - - - - - - -*/
.fldPropIcons span.support__icText[showFieldPropIcons="IconEnabled"] {
    background-image: url('/App_Static/images/support_strip_text.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 22px;
    width: 34px;
    margin-top: 0px;
}
.roExp[showFieldPropIcons="IconEnabled"] {
	background-position: 0px;
}
.reSumExp[showFieldPropIcons="IconEnabled"] {
	background-position: -34px;
}
.hidExp[showFieldPropIcons="IconEnabled"] {
	background-position: -69px;	
}
.defValExp[showFieldPropIcons="IconEnabled"] {
	background-position: -103px;		
}
.reExp[showFieldPropIcons="IconEnabled"] {
	background-position: -172px;	
}

.support__popup-head {
    padding: 0 !important;
    display: flex;
    color: #fff;
    background-image: url(../../App_Themes/Cloud/images/top-nav-repeat.png);
    background-repeat: repeat-x;
    width: 100%;
    justify-content: center;
    position: relative;

}
.support__popup-head .close {
    padding: 6px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
.support__popup-head .close i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/icon_strip.svg) no-repeat;
    background-size: auto 100%;
    background-position-x: -95px;
    filter: brightness(5);
}
.editFieldPropWindow {
    width: 50%;
    z-index: 5002;
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    max-height: 450px;
}

.editFieldPropWindow .editFieldPropHead {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    float: none;
}
    
.editFieldPropWindow div {
    padding: 5px 11px;
    font-size: 14px;
    float: left;
}

.efProps__span {
    display: flex;
}

.efProps__span label {
    display: block;
    width: 175px;
    max-width: 175px;
}

.expPropsCommon {
    flex: 1;
    padding: 2px;
    border: 1px solid rgb(154,154,154);
    max-height: 50px;
    overflow-y: auto;
}

.chBxfieldPropsCommon {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid rgb(154,154,154);
    border-radius: 1px;
    margin-right: 6px;
    line-height: 1;
}

.chBxfieldPropsCommon[checkBox="checked"] {
    background: #0043ff;
    border-color: #0043ff;
}

.numericPropsCommon {
    font-weight: 700;
}
.numberProps,
.expressionfieldProps,
.chBxfieldProps {
    float: none !important;
    display: block;
}
.numberProps table,
.expressionfieldProps table,
.chBxfieldProps table {
    width: 100%;
}


.dvRulePopup {
	display: flex;
    width: 75%;
    z-index: 5002;
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    max-height: 450px;
    flex-direction: column;
}

.dvRulePopup .dvRulePopupHead {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    float: none;
}
    
.dvRulePopup div {
    padding: 5px 11px;
    font-size: 14px;
    float: left;
}

.dvRulePopupBody {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
	float: none !important;
}

.dvRulePopupBody table {
	width: 100% ;
	border-spacing: 3px; 
	border: 1px solid black;
	border-collapse: collapse;
}

.dvRulePopupBody td {
 	border: 1px solid #cfcfcf;
}
.measurement-tool {
    background:White;
    border-radius:2px;
    padding:8px;
    margin-top:9px;
    -webkit-user-select: none;    
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}

.measurement-tool .button {
    width:24px;
    height:24px;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
}

.measure-on {

}

.measure-off {
    width:auto;
}

.measure-on .button {
    background:url(Svo/map/ruler-on.png);
    background-size: cover;
}

.measure-off .button {
    background:url(Svo/map/ruler-off.png);
    background-size: cover;
}

.measure-on .distance {
    display:inline-block;
    min-width:75px;
    vertical-align:middle;
    font-size:16pt;
    font-weight:500;
    padding-left:8px;
}

.measure-off .distance {
    display:none;
}

.LoadGeolocationIcon {
    background: url(images/map_icon.png) 60% no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    background-size: cover;
    margin-left: 3px;
}

.invalidalerticon {
    background: url(images/warning-vect.png) 60% no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    background-size: cover;
    margin-left: 3px;
    margin-right: 3px;
}
.invalidalerticon-blk {
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0px;
}

.audit-lock {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 22px;
    top: -17px;
    cursor: pointer;
    background-size: cover;
}

    .audit-lock:hover {
        filter: brightness(0.6);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    }

    .audit-lock:active {
        transform: scale(0.98);
    }

.audit-lock-lock {
    background-image: url("images/audit-lock.png");
}

.audit-lock-unlock {
    background-image: url("images/audit-unlock.png");
}

