.query-build {
    display: none;
    z-index: 100;
    width: 85%;
    max-width: 1200px;
    height: 70%;
    min-height: 500px;
    max-height: 700px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    border: none;
    border-radius: 8px;
}

.qg * {
    box-sizing: border-box;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.qg {
    width: 100%;
    height: 100%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qg__header {
    padding: 8px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background: #1a355b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.qg__header_heading {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}

.qg__groups {
    padding: 12px;
    flex: 1;
    overflow: auto;
}

.qg__group {
    padding: 0;
    /*border-color: #e4eaec !important;*/
    border-radius: 4px;
}

.qg__group_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.qg__footbut {
    display: flex;
    padding: 12px;
    justify-content: flex-end;
}

.qg__result {
    width: 100%;
    padding: 8px 12px;
    border-top: 1px solid #e4eaec;
    border-bottom: 1px solid #e4eaec;
    display: flex;
    align-items: flex-start;
}

.qg__footbut button {
    min-width: 70px;
    color: #12344d;
    border: 1px solid #cfd7df;
    background: linear-gradient(to bottom,#fff,#f3f5f7) #f3f5f7;
    border-radius: 4px;
    margin-left: 6px;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s;
}

    .qg__footbut button:hover {
        color: #092438;
        border-color: #6e8086;
        background: linear-gradient(to bottom,#fff,#e2f1ff) #f3f5f7;
    }

.qg__group_head .qg__but {
    margin-left: 8px;
}
/*  TREE STYLING */
.qg__group-body {
    padding-left: 20px;
}

    .qg__group-body > div {
        position: relative;
        border: 1px solid transparent;
    }

        .qg__group-body > div:not(.qg__group) {
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .qg__group-body > div.qg__group {
            margin: 4px 0;
        }
        /*
        .qg__group-body > div:before {
            content: '';
            display: block;
            position: absolute;
            left: -5px;
            width: 10px;
            height: 100%;
            border-left: 1px solid #bebebe;
            border-bottom: 1px solid #bebebe;
        }

        .qg__group-body > div.qg__group:before {
            height: 50%;
        }
        */
        .qg__group-body > div::after,
        .qg__group-body > div::before {
            content: '';
            position: absolute;
            left: -14px;
            width: 20px;
            height: calc(50% + 4px);
            border-color: #ccc;
            border-style: solid
        }

        .qg__group-body > div::before {
            top: -4px;
            border-width: 0 0 1px 1px
        }

        .qg__group-body > div::after {
            top: 50%;
            border-width: 0 0 0 1px
        }

        .qg__group-body > div:first-child::before {
            top: -7px;
            height: calc(50% + 6px);
        }

        .qg__group-body > div:last-child::before {
            border-radius: 0 0 0 3px
        }

        .qg__group-body > div:last-child::after {
            display: none
        }

.qg__head-controls {
    display: flex;
}

.qg__rule {
    display: flex;
}

.qg__rule-left {
    display: flex;
}

    .qg__rule-left input {
        margin-right: 6px;
        border: 1px solid #bebebe;
    }

        .qg__rule-left input:not(.cc-drop)[disabled="disabled"] {
            background-color: #ddd;
            cursor: not-allowed;
        }

.qg__sel {
    min-width: 100px;
    border-color: #bebebe !important;
    border-radius: 3px !important;
    width: 165px !important;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

    .qg__sel.cc-drop[disabled="disabled"] {
        background-color: #ddd !important;
        cursor:not-allowed;
    }



.qg__head_right {
    display: flex;
}

    .qg__head_right div {
        padding: 10px 10px 5px 0px;
    }

.qg__but {
    background: #e4e4cc;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    display: block;
    transition: all 0.5s;
}

.qg__but--red {
    background-color: #e84958;
}

    .qg__but--red:hover {
        background-color: #c93745;
    }

.qg__but--green {
    background-color: #27aa71;
}

    .qg__but--green:hover {
        background-color: #117e4f;
    }

.qg__but--blue {
    background-color: #3188e8;
}

    .qg__but--blue:hover {
        background-color: #125aab;
    }

.cbox {
    display: none;
}

.qg__wrapper {
    width: 100px;
    min-height: 30px;
    position: relative;
    cursor: pointer;
}

.qg__wrapper--style .label2 {
    position: absolute;
    border: 2px solid #1a355b;
    border-radius: 5px;
    width: 94px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    transition: left 300ms linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

    .qg__wrapper--style .label2:after {
        position: absolute;
        content: "AND";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        background-color: #1a355b;
        z-index: 2;
        left: 0px;
        top: 0;
        border-radius: 1px;
        transition: left 300ms linear;
        color: aliceblue;
    }

.qg__footer-title {
    color: #0b61c0;
    margin: 0;
    font-weight: 400;
    min-width: 110px;
}

p.qg__result__p {
    margin: 0;
    margin-left: 6px;
    font-weight: 500;
    word-break: break-all;
}

.qg_footPanel{
    display : flex;
    justify-content : space-between
}
.qg_error{
    width: 65%;
    padding: 8px 12px;
    border-top: 1px solid #e4eaec;
    border-bottom: 1px solid #e4eaec;
}
.qg__error__p{
    margin : 0;
    color : red;
}

.cbox:checked ~ .label2:after {
    left: calc(100% - 45px);
    content: "OR";
    background-color: #1a355b;
    color: aliceblue;
}

.cbox:checked ~ .label2 {
    border: 2px solid #1a355b;
}

.label2 .text {
    pointer-events: none;
    color: black;
    text-align: center;
    width: 50%;
}

.qg__rule--rem {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #fff;
}

    .qg__rule--rem::before,
    .qg__rule--rem::after {
        content: '';
        display: block;
        height: 18px;
        width: 2px;
        background: #de4542;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    .qg__rule--rem::before {
        transform: rotate(45deg);
    }

    .qg__rule--rem::after {
        transform: rotate(-45deg);
    }

    .qg__rule--rem:hover::before,
    .qg__rule--rem:hover::after {
        background: #fff !important;
    }



/*
    Lookup STYLE OVERRIDES
*/

.qg__sel.cc-drop {
    border-color: #bebebe ;
    border-radius: 3px !important;
    width: 165px !important;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

.cc-drop-pop {
    border-color: #bebebe ;
    -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 5%) !important;
    box-shadow: 0 3px 12px rgb(0 0 0 / 5%) !important;
    border-radius: 3px;
}

    .cc-drop-pop .cc-drop-items {
        border-radius: 3px;
    }
    .qg__sel--aggr.cc-drop{
        width: 50px !important;
    }

.validFail{
    border-color: red !important
}
.validPass{
    border-color: black !important
}
