﻿body {
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI, Arial;
    font-size: 10pt;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.del_element,.add_element
{
min-width: 20px !important;
    float: left;
    padding: 0px 0px;
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 22px;
    margin-left: 2px;
    cursor: pointer;
    margin-top: 4px;
	}
.ccse-toolbar {
    background: #FFC;
    background-image: url(sketched/sketch-toolbar-bg.png);
    position: relative;
}

.ccse-canvas {
    background: url(sketched/grid2.jpg) top left;
    background: url(sketched/g20.png) bottom left;
    border: 0px none;
    padding: 0px;
    margin: 0px;
    border: 0px none Gray;
}

.ccse-toolbutton, .ccse-toolbutton2 {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: url(sketched/sketch-tools-sprite.png);
    vertical-align: text-top;
}

.ccse-toolbar button {
    height: 30px;
    margin: 3px;
    padding: 0px 10px;
}

div.ccse-mode {
    display: inline-block;
    color: White;
    display: none;
}

div.ccse-custom-buttons {
    display: inline-block;
    color: White;
}

div.ccse-mode-visible {
    display: inline-block !important;
    color: White;
    font-weight: bold;
}

    div.ccse-mode-visible .ccse-save {
        margin-right: 15px;
        background: #00CC00 !important;
    }

    div.ccse-mode-visible .ccse-close {
        background: #696969 !important;
    }

div.ccse-mode input, div.ccse-custom-buttons input {
    width: 50px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid Gray;
    text-align: center;
}

.ccse-other-tools {
    height: 26px;
    display: inline-block;
    vertical-align: text-top;
    padding: 7px;
    color: White;
}

.ccse-tool-active {
    background-position-y: bottom;
}

.ccse-tool-inactive {
    background-position-y: top;
}

.ccse-zoom {
    background-position-x: -40px;
}

.ccse-pan {
    background-position-x: 0px;
}

.ccse-angle-lock {
    background-position-x: -118px;
}

.ccse-undo {
    --background-position-x: -80px;
}

.pan-control {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: 40px;
	margin-left: 10px;
    background: url(sketched/pan-buttons.png);
    background-position: left top;
}

.pan-normal {
    background-position: left top;
}

.pan-reset {
    background-position: right top;
}

.pan-left {
    background-position: left center;
}

.pan-right {
    background-position: right center;
}

.pan-up {
    background-position: left bottom;
}

.pan-down {
    background-position: right bottom;
}

.zoom-control {
    height: 25px;
    position: absolute;
    margin: 10px;
    background-color: #454545;
    border-radius: 20px;
    padding: 20px;
    top: 68px;
}

input[type='range'] {
    -webkit-appearance: slider;
    background-color: Blue;
    width: 300px;
    height: 30px;
}

.zoom-button {
    display: inline-block;
    height: 25px;
    width: 25px;
    color: White;
    border: 1px solid White;
    vertical-align: text-top;
    font-weight: bold;
    text-align: center;
    font-size: 14pt;
    line-height: 16pt;
}

    .zoom-button:hover {
        background-color: #999;
    }

.zoom-range {
    display: inline-block;
    height: 25px;
    width: 300px;
    border: 1px solid White;
    vertical-align: text-top;
    background-image: url(sketched/white.png);
    background-size: 38% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ccse-rotate-sketch {
    width: 37px;
    display: inline-block;
	background: url(images/rotate.png) no-repeat center;
   	background-size: 20px;
   	background-color:#fff;
	vertical-align: middle;
	margin-top: 1px !important;
	height: 31px !important;
}

.ccse-quick-anticlock{
  width: 33px;
  display: inline-block;
background: url(sketchpad/quick-rotate-anti.png) no-repeat center;
   background-size: 20px;
   background-color:#fff;
vertical-align: middle;
}
.ccse-quick-clock {
  width: 33px;
  display: inline-block;
background: url(sketchpad/quick-rotate-clock.png) no-repeat center;
   background-size: 20px;
   background-color:#fff;
vertical-align: middle;
}

	
.sketch-pad {
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    border-radius: 8px;
    width: 286px;
}

    .sketch-pad .movable-title-bar {
        color: White;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px 8px;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#999),color-stop(0.5, #666),color-stop(0.5, #555),color-stop(1, #444));
    }

    .sketch-pad .hide-sketch-pad {
        display: inline-block;
        border: 1px solid White;
        float: right;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        margin-top: -4px;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#1d1c1c),color-stop(0.5, #1d1c1c),color-stop(0.5, #1d1c1c),color-stop(1, #1d1c1c));
    }

    .sketch-pad .sketch-pad-key-pad {
        padding: 5px;
    }

    .sketch-pad table {
        border-spacing: 0px;
    }

        .sketch-pad table tr td {
            padding: 2px;
        }

    .sketch-pad .sketch-pad-btn {
        color: White;
        font-weight: bold;
        display: inline-block;
        width: 32px;
        height: 32px;
        padding: 8px;
        background: Gray;
        margin: 0px;
        border-radius: 4px;
        border: 1px solid #ADADAD;
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #597eaa),color-stop(1, #5b80ab));
        font-size: 16pt;
        font-family: Optima-Regular;
    }

    .sketch-pad .sketch-pad-ddl {
        font-size: 16pt;
        width: 100px;
        padding: 6px;
    }

    .sketch-pad .sketch-pad-btn span {
        color: White;
        font-weight: bold;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .sketch-pad .sp-add span {
        background-image: url(sketchpad/sp-add.png);
    }

    .sketch-pad .sp-up span {
        background-image: url(sketchpad/sp-up.png);
    }

    .sketch-pad .sp-down span {
        background-image: url(sketchpad/sp-down.png);
    }

    .sketch-pad .sp-left span {
        background-image: url(sketchpad/sp-left.png);
    }

    .sketch-pad .sp-right span {
        background-image: url(sketchpad/sp-right.png);
    }

    .sketch-pad .sp-angle span {
        background-image: url(sketchpad/sp-angle.png);
    }

    .sketch-pad .sketch-pad-btn-wide {
        width: 84px;
        text-align: center;
    }

        .sketch-pad .sketch-pad-btn-wide span {
            width: auto;
            height: auto;
            margin-top: 6px;
        }

    .sketch-pad .sp-text-box {
        display: inline-block;
        background: White;
        width: 84px;
        height: 26px;
        padding: 6px;
        border-radius: 4px;
        border: 4px inset #999;
        text-align: center;
        font-size: 18pt;
        font-weight: bold;
        background: #CCC;
    }

        .sketch-pad .sp-text-box[selected] {
            border: 4px inset #fff;
            background: #FFF;
        }



.button, .a-button {
    display: inline-block;
}

button, .button, .a-button {
    padding: 7px 20px;
    border: 1px solid rgb(99,99,99);
    border: 1px solid rgba(99,99,99,0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    -moz-box-shadow: inset 1px 1px 1px rgba(99,99,99,0.4);
    background: #597eaa;
    background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #597eaa),color-stop(1, #5b80ab));
    background: -moz-linear-gradient(#97adc8 0%, #6b8bb2 50%, #597eaa 50%, #5b80ab 100%);
    color: #fff;
    font: bold 12px/20px Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.75);
}

    button.touched, .button[active], .a-button[active] {
        background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#97adc8),color-stop(0.5, #6b8bb2),color-stop(0.5, #6a8fbb), color-stop(1, #BAD3E4));
    }

        button[disabled], button.touched[disabled], .button[disabled], .a-button[disabled] {
            background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#979797),color-stop(0.5, #6b6b6b),color-stop(0.5, #6a6a6a), color-stop(1, #bababa));
        }

.window-message-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33%;
    right: 33%;
    width: 450px;
    display: none;
    z-index: 1;
}

    .window-message-box .message-box-frame {
        /*min-width: 300px;*/
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 1px 3px #333;
    }
    
     .window-message-box .full-frame {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        .window-message-box .message-box-frame .message-box-title {
            padding: 10px;
            background: -webkit-gradient(linear,0 0,0 100%, color-stop(0,#AAA), color-stop(0.5, #BBB), color-stop(0.5, #A5A5A5),color-stop(1, #DDD));
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: bold;
            font-size: 14pt;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            border-top: 2px solid #AAA;
        }

        .window-message-box .message-box-frame .message-box-body {
            background: White;
            min-width:300px;
            padding: 30px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            padding-bottom: 10px;
        }

        .window-message-box .message-box-frame .message-box-input {
            background: White;
            padding: 0px 30px 15px 30px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
        }

        .window-message-box .message-box-frame .message-box-input-item {
            width: 280px;
            height: 30px;
            font-size: 1.1em;
        }

        .window-message-box .message-box-frame .message-box-input-textarea {
            height: 60px !important;
        }

        .window-message-box .message-box-frame .message-box-buttons {
            padding: 7px;
            background: #EFEFEF;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 2px solid #AAA;
            border-right: 2px solid #AAA;
            border-bottom: 2px solid #AAA;
        }

            .window-message-box .message-box-frame .message-box-buttons .button {
                font-size: 12pt; /*  padding: 6px 40px;*/
                min-width: 78px;
            }

.Current_vector_details span {
    min-width: 100px;
    float: left;
    word-break: break-all;
}

.Current_vector_details button {
    width: 80px;
    margin: 5px 4px;
    height: 33px;
}

.Current_vector_details {
    width: 490px;
    z-index: 100;
    position: absolute;
    float: left;
    top: 25%;
    left: 35%;
    background-color: white;
    border: 1px solid gray;
    max-height: 900px;
}

.divvectors {
	max-height: 280px;
	overflow-y: auto;
}

    .Current_vector_details .head {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: gray;
        background-color: #dfdddd;
        float: none;
    }

    .Current_vector_details select, .Current_vector_details input {
        width: 270px; 
        height: 28px;
		float:left;
    }

    .Current_vector_details div {
        padding: 5px 11px;
        font-size: 14px;
        float: left;
    }

.validationFailMsg {
    text-align: center;
    width: 100% !important;
    font-size: 12px;
    color: red;
}

.lookupSearchInSkecth {
    width: 24px !important;
    float: right !important;
    margin-left: 3px;
    height: 24px;
    background: url(images/search.png);
    background-size: 100%;
    min-width: 24px !important;
}

.mask {
    background: black;
    opacity: 0.5;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

@media screen and (max-width: 850px) {
  .mask {
    width: 850px;
  }
}

.hidden {
    display: none;
}

.masklayer {
    background: black;
    opacity: 0.5;
    top: 0%;
    width: 100%;
    height: 100%;
    bottom: 0%;
    position: absolute;
    display: none;
}

@media screen and (max-width: 850px) {
  .masklayer {
    width: 850px;
  }
}

.ccse-undo-segment {
	width: 35px;
    display: inline-block;
	background: url(images/undo.png) no-repeat center;
   	background-size: 20px;
   	background-color:#fff;
	vertical-align: middle;
	margin-top: 1px !important;
    height: 31px !important;
}

.fvSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  float: right;
  margin-top: 7px;
  margin-right:6px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20%;
}

input:checked + .slider {
  background-color: #6b8bb2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.hide-sketch-pad span {
    color: White;
    font-weight: bold;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(sketchpad/sp-del.png);
}

/* /////////////Quickbtn CSS////////////// */

.toolbox-control-hexbtn {
  width: 40px;
  height: 37px !important;
  padding: 2px !important;
  border: none;
  margin: 0px !important;
}
.toolbar-openbtn:hover,
.toolbar-openbtn:active {
  border: 1px solid black;
}

.toolbar-openbtn-container {
  float: left;
}

.toolbar-show-hexbtn {
  width: 50px;
  height: 50px;
  border: none;
}

.toolbox-add-polygon {
  background-image: url(../images/add_shape.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

.toolbox-control {
  visibility: hidden;
  position: absolute;
  margin-top: 38px;
  margin-left: 16px;
  box-shadow: 0px 0px 6px 1px #00000057;
}

.toolboxcontainer {
  width: 120px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;   
}

.toolbutton {
  background: transparent;
  overflow: hidden;
  opacity: 0.8;
  box-shadow: none;
}

.tool-list-openbtn {
  background: transparent;
  overflow: hidden;
  opacity: 0.8;
}

.toolbutton:active {
  opacity: 1;
  border: none;
}
.toolbutton:hover {
  opacity: 1;
  border-color: rgb(163, 102, 102);
}
.toolbutton:hover .tooltiptext {
  transition-delay: 1s;
}

.tooltip-convex-arc {
  left: 150;
}
.tooltip-concave-arc {
  left: 150;
}
.tooltip-squre {
  left: 150;
}
.tooltip-rectangle {
  left: 150;
}
.tooltip-polygon {
  left: 150;
}

.toolbtncontainer .tooltiptext {
  visibility: hidden;
  font-weight: bold;
  left: 130px;
  width: 110px;
  height: 25px;
  background-color: #f1d492;
  color: #000;
  text-align: center;
  border-radius: 0px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  border: solid;
  border: 2px solid #000;
  font-size: 16px;
}

.toolboxcontainer > div {
  display: flex;
  justify-content: space-between;
}

.toolshapecontainer {
  margin-top: 10px;
}

.toolbtncontainer {
  width: 55px;
  height: 50px;
}

.toolbtncontainer button {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-width: 2px;
}

.tool_concavearc > span,
.tool_convexarc > span {
  display: block;
  width: 36px;
  height: 20px;
  padding: 0;
  border: 3px solid #000;
  margin: 0;
}

.tool_concavearc > span {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom: none;
}

.tool_convexarc > span {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top: none;
}

.squrebtn > span,
.rectanglebtn > span {
  display: block;
  border: 3px solid #000;
  width: 26px;
  height: 26px;
  margin: 0 auto;
}

.rectanglebtn > span {
  width: 34px;
  height: 18px;
}

.hexbtn_icon {
  width: 100%;
  height: 100%;
  background-image: url(../images/hexagon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.polygonsides {
  width: 50px;
  font-size: 18px;
  overflow-y: auto;
}

.btnsecond {
  width: 100%;
  height: 30%;
}

.polysidecontainer {
  padding-top: 15px;
  padding-left: 10px;
  float: left;
}

.toolbtn-active {
  border-color: #ff0000 !important;
  opacity: 1;
}

.toolbtn-inactive {
  background: transparent;
}

.toolbutton:focus {
  outline: none;
  box-shadow: none;
}

.ccse-quick-anticlock {
  width: 33px;
  display: inline-block;
  background: url(sketchpad/quick-rotate-anti.png) no-repeat center;
  background-size: 20px;
  background-color: #fff;
  vertical-align: middle;
}

.ccse-quick-clock {
  width: 33px;
  display: inline-block;
  background: url(sketchpad/quick-rotate-clock.png) no-repeat center;
  background-size: 20px;
  background-color: #fff;
  vertical-align: middle;
}

/* ////quickbtn css ends */

.markedArea .sqft {
	width: 100px;
	height: 22px;
}

.markedArea .fixedarea label {
	width: 50px !important;
}

.capBody {
    max-height: 400px;
    overflow-y: auto;
}

.capBody .required, .capBody .ColoumnSep, .capBody .fieldDisplayLabel {
    min-width: 0px;
}

.capBody input:disabled {
    color: #8c8c8c;
    cursor: initial;
    background-color: #f5f5f5 !important;
}

.vsshimmer {
    color: grey;
    -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: vsshimmer 1s infinite;
}

@keyframes vsshimmer {
    100% {
        -webkit-mask-position: left
    }
}

.cc-drop-pop.cc-drop-mini {
    width: 270px !important;
}

.ccse-option-list {
    position: absolute;
    right: 12px;
    background: white;
    top: 40px;
    width: 150px;
    z-index: 1;
}

.ccse-option-list a {
    background: linear-gradient(to bottom, rgb(87, 87, 87) 5%, rgb(47, 47, 47) 100%) !important;
    padding: 9px 21px;
    color: white;
    cursor: pointer;
    float: left;
    width: 120px;
}

.ccse-options {
    position: relative;
    background-position-x: 37px;
    height: 39px;
    margin-right: 6px;
    margin-left: 6px;
    float: right;
    width: 33px;
}

.manual-entry-container {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
    top: 90px;
    right: 15px;
    min-width: 200px;
    max-width: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 300px;
    border: 0.5px solid #959090;
}

.manual-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.manual-popup-title {
    font-size: 18px;
}



.manual-popup-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
}

.manual-entry-popup-content {
    font-size: 14px;
}

.manual-hide-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.ccse-add-page {
    font-size: 14px;
    font-weight: bolder;
    color: #0a950ade;
    cursor: pointer;
    margin-right: 2x;
    margin-left: 2px;
    display: inline-block;
    text-align: center;
    height: 23px;
    width: 25px;
    background-color: #f0f7ea;
    border: 1px solid #0a950ade;
}

.ccse-add-page-highlight {
    background: linear-gradient(44deg, #55b96a, #337740);
    font-size: 16px;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    height: 24px;
    box-shadow: 0 0 15px rgb(151 213 128 / 80%);
}

.ccse-delete-page {
    font-size: 14px;
    font-weight: bolder;
    color: red;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    height: 23px;
    width: 25px;
    background-color: #f0f7ea;
    border: 1px solid red;
}
.grayed-out {
    opacity: 0.5;
    pointer-events: none;
}

.customNote {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


    .customNote .note-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 2px;
        border: 1px solid #888;
        min-height: 230px;
        max-height: 400px;
        width: 500px;
        overflow-y: auto;
    }

    .customNote .note-header {
        padding: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: white;
        margin-bottom: 10px;
        height: 30px;
        background-color: #8f8e8e;
    }

    .customNote .custom-note-options {
        padding: 10px;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    .customNote .SectNum {
        height: 30px;
        margin-left: 20px;
        width: 270px !important;
        border-radius: 5px;
    }

    .customNote .note-textarea {
        width: 460px;
        margin-left: 20px;
        height: 75px;
        resize: none;
        border-radius: 5px;
        padding: 4px;
    }

    .customNote .note-button-container {
        text-align: right;
        margin-top: 20px;
    }

    .customNote .note-button {
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        width: 75px;
        height: 40px;
    }

