﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="awstest.aspx.vb" Inherits="CAMACloud.MobileAssessor.awstest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <p>
            <asp:Label runat="server" ID="lblResult" Text="." />
        </p>
    </form>
</body>
</html>
