﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="ccroute.aspx.vb" Inherits="CAMACloud.MobileAssessor.ccroute" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Routing Test Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label runat="server" ID="lbl" />
    </div>
    </form>
</body>
</html>
