﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="qa.aspx.vb" Inherits="CAMACloud.MobileAssessor.qa" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btn_send" runat="server" Text="Send Agent Info" />
    </div>
    </form>
</body>
</html>
