﻿<%@ Control Language="VB" AutoEventWireup="false"
	Inherits="CAMACloud.Admin.App_Controls_app_ModuleNavigation" Codebehind="ModuleNavigation.ascx.vb" %>
<asp:BulletedList runat="server" DisplayMode="HyperLink" ID="menu" CssClass="menu">
</asp:BulletedList>
