﻿<%@ Page Title="" Language="VB" MasterPageFile="~/App_MasterPages/CAMACloud.master"
	AutoEventWireup="false" Inherits="CAMACloud.Console._Default" Codebehind="Default.aspx.vb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ContentPlaceHolderID="LeftContent" runat="server">
</asp:Content>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    <cc:ClientDashboard runat="server" />
	<asp:Button runat="server" ID="btnTest" Text="Test Error" Visible="false"/>
	<asp:Label runat="server" ID="r" />
    <reports:ReportViewer ID="ReportViewer1" runat="server">
    </reports:ReportViewer>
</asp:Content>
