.leaflet-control-measure h3,
.leaflet-measure-resultpopup h3 {
    margin: 0 0 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd
}

.leaflet-measure-resultpopup p {
    margin: 10px 0 0 !important;
    line-height: 1.5em
}

.leaflet-control-measure p {
    margin: 4px 0 0 !important;
    line-height: 1.5em
}

    .leaflet-control-measure p:first-child,
    .leaflet-measure-resultpopup p:first-child {
        margin-top: 0 !important;
    }

.leaflet-control-measure .tasks,
.leaflet-measure-resultpopup .tasks {
    margin: 12px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    text-align: right;
    list-style: none;
    list-style-image: none
}

    .leaflet-control-measure .tasks li,
    .leaflet-measure-resultpopup .tasks li {
        display: inline;
        margin: 0 10px 0 0
    }

        .leaflet-control-measure .tasks li:last-child,
        .leaflet-measure-resultpopup .tasks li:last-child {
            margin-right: 0
        }

.leaflet-control-measure .coorddivider,
.leaflet-measure-resultpopup .coorddivider {
    color: #999;
}

.leaflet-control-measure {
    max-width: 250px;
    background: #ffffffed;
}

    .leaflet-control-measure .leaflet-control-measure-toggle,
    .leaflet-control-measure .leaflet-control-measure-toggle:hover {
        background-size: 14px 14px;
        background-image: url(images/ruler.png);
        border: 0;
        border-radius: 4px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden
    }

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    border-radius: 2px
}

.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-image: url(images/ruler.png)
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle,
.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    background-size: 16px 16px
}

.leaflet-control-measure .startprompt h3 {
    margin-bottom: 10px
}

.leaflet-control-measure .startprompt .tasks {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    text-align: left
}

.leaflet-control-measure .js-startprompt.startprompt > ul.tasks {
    margin: 0 !important;
    border: none !important;
    background: none !important;
}

.js-startprompt.startprompt > ul.tasks > a {
    min-width: 100px;
    width: auto;
    background: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 2px 6px;
    background: #fff;
    border: 1px solid #e4eaec;
    margin: 2px 0;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #00000000;
    color: #454545;
    transition: 0.5s all ease-in-out;
}

    .js-startprompt.startprompt > ul.tasks > a:hover {
        border-color: #5e66cc;
    }

    .js-startprompt.startprompt > ul.tasks > a.js-start > span,
    .js-startprompt.startprompt > ul.tasks > a.js-clearAll > span {
        width: 22px;
        height: 22px;
        margin-right: 2px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline;
        background-size: 16px;
    }

    .js-startprompt.startprompt > ul.tasks > a.js-start > span {
        background-image: url("images/measure-add.png")
    }

    .js-startprompt.startprompt > ul.tasks > a.js-clearAll > span {
        background-image: url("images/measure-cancel.png");
    }

.js-measuringprompt {
    min-width: 170px;
}

.leaflet-control-measure .leaflet-control-measure-interaction {
    padding: 10px 12px
}

.leaflet-control-measure .results .group {
    padding: 4px;
    border-top: 1px dotted #7c7c7c;
}

    .leaflet-control-measure .results .group:first-child {
        border-top: 0
    }

.leaflet-control-measure .results .heading {
    margin-right: 5px;
    color: #7f7f7f;
}

.js-measuringprompt .results-buttons {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

    .js-measuringprompt .results-buttons > div {
        cursor: pointer;
        color: rgb(0, 0, 0);
        -webkit-user-select: none;
        padding: 1px 6px 1px 1px;
        border-radius: 3px;
        background-image: linear-gradient(to bottom, #fbfffe 0%, #e7e7e7 100%);
        border: 1px solid #ccc;
        transition: 0.5s;
        align-items: center;
        display: flex;
        min-width: 28px;
    }

        .js-measuringprompt .results-buttons > div:hover {
            box-shadow: 0 0 4px 1px #0000001f;
            border-color: #5e66cc;
            text-decoration: none;
        }

.leaflet-control-measure a.js-start,
.leaflet-control-measure .js-cancel .result-icon,
.leaflet-control-measure .js-finish .result-icon {
    display: inline;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}

.leaflet-control-measure a.js-start {
    background-image: url("images/measure-add.png");
}

.leaflet-retina .leaflet-control-measure a.start {
    background-image: url("images/measure-add.png")
}

.leaflet-control-measure .js-cancel .result-icon {
    background-image: url("images/measure-cancel.png");
    background-size: 24px;
}

.leaflet-control-measure .js-finish .result-icon {
    background-image: url("images/measure-finish.png");
}

.js-measuringprompt .results-buttons .result-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 16px;
}


.leaflet-measure-resultpopup .result-title {
    margin-top: 6px;
    display: block;
    color: #545454;
}

.leaflet-measure-resultpopup .result-data {
    margin-top: 0px !important;
    font-size: 14px;
    color: #000;
}

.leaflet-measure-resultpopup a.deletemarkup {
    display: inline;
    width: auto;
    height: auto;
    border: 1px solid transparent;
    text-align: left;
    padding: 5px;
    color: #5e66cc;
    text-decoration: none;
    border-radius: 2px;
    transition: all 0.5s linear;
}

    .leaflet-measure-resultpopup a.deletemarkup,
    .leaflet-measure-resultpopup a.deletemarkup:hover {
        background-color: transparent
    }

.leaflet-measure-resultpopup a.deletemarkup:hover {
    border-color: #5e66cc;
}
