﻿a.a16, span.a16
{
	display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: bottom;
}

span.a16
{
	cursor:default;
}

.ed16
{
	background:url(icons16/edit.png)	
}

.del16
{
	background:url(icons16/del16.gif)	
}

.min16
{
	background:url(icons16/min16.png)	
}

.max16
{
	background:url(icons16/max16.png)	
}

.lock16
{
		background:url(icons16/lock.png)	
}

.newborn16
{
		background:url(icons16/newborn16.png)	
}