﻿
/* GRIDVIEW */

.mGrid
{
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #c1c1c1;
    border: solid 1px #0ab0c4;
    border-collapse: collapse;
}
.mGrid td
{
    padding:3px 2px 3px 4px;
    border: none 0px #c1c1c1;
    border: solid 1px #0ab0c4;
    border-left:0px none;
    border-right:0px none;
    color: #717171;
}

.mGrid td a
{
	font-size:smaller;
	font-weight:bold;
	text-decoration:none;
	margin-right:8px;
}

.mGrid th
{
    padding: 3px 3px 3px 4px;
    /*background: #424242 url(images/grd_head.png) repeat-x top;
    background: #8fbbdc url(comp_bg/thbg.png) repeat-x center center;
    color:#000011;*/
    border-left: none 0px;
    border-right: none 0px;
    text-align: left;
}
.mGrid .alt
{
    background: #fcfcfc url(images/grd_alt.png) repeat-x top;
}
.mGrid .pgr
{
    background: #DFDFDF repeat-x top;
}

.mGrid .edit
{
    background: #777777;
    color:White;
}

.mGrid .edit td
{
    color:White;
}

.mGrid .edit td a
{
    color: #6bc5f0;
    color:Orange;
}

.mGrid td select
{
	margin:0px;
	width:96%;
	border:0px none;
	font-family:inherit;
}

.mGrid .row-head
{
    width:20px;
    text-align:right;
    padding-right:10px;
}

.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #0AB0C4;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}

.mGrid .progress-bar
{
    width:50px;
    height:16px;
    border:1px solid Gray;
    border-radius:4px;
}

.mGrid .progress-bar .progress
{
    background:DarkGreen url(comp_bg/progress.png) left center;
    height:16px;
    border-right:1px solid Gray;
    border-radius:4px;
}

.mGrid .progress-bar .progress-error
{
    background:Red url(comp_bg/progress-red.png) left center;
}

.mGrid .empty-row-template TD
{
    width:530px;
}

.plain-list TD
{
    padding:3px;
    border-bottom:1px solid #E2E2E2 !important;
}

.plain-list .empty-row-template TD
{

}

.resizable-text div, .resizable-text a, td.resizable-text
{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}

td.resizable-text
{
    display:table-cell;
    border-top:0px none;
}
.grid-group-header, .group-header
{
    padding: 4px;
    background: #8fbbdc url(comp_bg/thbg.png) repeat-x center center;
    color:#000011;
    border: solid 1px #0ab0c4;
    
    font-weight:bold;
}

.grid-group-header
{
    border-bottom: none 0px;
}