﻿.report-container
{
	width: 100%;
	border-spacing: 0px;
	height: 500px; 
}

.report-container .report-container-cell
{
	vertical-align: top;
}


.report-selection-frame
{
	width: 274px;
	background-color: #d5e8ff;
}

.report-selection
{
	padding: 7px;
	margin: 8px;
	border:1px solid #8a8a8a;
	border-radius:6px;
	background-color: #fffef6;
}

.report-item
{
    width: 120px;
    height: 140px;
    margin: 6px;
    float:left;
    border: 1px solid #c1c1c1;
    display:block;
    cursor:pointer;
}

.report-item:hover
{
    border: 1px solid #846b6b;
}

.report-item .icon
{
    width: 70px;
    height: 64px;
    margin:25px;
    margin-bottom:7px;
    background-image: url(../reports/report-64.png);
    background-position:center center;
    background-repeat:no-repeat;
    display:block;
}

.report-item .text
{
    display:block;
    text-align:center;
    font-size:9pt;
    margin:5px 0px;
}
