﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/DataSetup.master" CodeBehind="deletetable.aspx.vb" Inherits="CAMACloud.Console.deletetable" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
        <link rel="Stylesheet" href="/App_Static/css/tabcontent.css" />
    <script type="text/javascript" src="/App_Static/js/tabcontent.js"></script>
    <script type="text/javascript">
        $(function () {

          //  $("a.schema-node,img").bind("click", function () {
            //    return false;
            //});

            $("[id*=SchemaTables] input[type=checkbox]").bind("click", function () {
                var table = $(this).closest("table");
                if (table.next().length > 0 && table.next()[0].tagName == "DIV") {
                    //Is Parent CheckBox
                    var childDiv = table.next();
                    var isChecked = $(this).is(":checked");
                    $("input[type=checkbox]", childDiv).each(function () {
                        if (isChecked) {
                            $(this).attr("checked", "checked");
                            $(this).attr('disabled', true);
                        } else {
                            $(this).removeAttr("checked");
                            $(this).attr('disabled', false);
                        }
                    });
                }
                setVisibilityButton()
            });
        })

        function getCount() {
            var count = 0;
            $("[id*=SchemaTables] input[type=checkbox]").each(function () {
                var isChecked = $(this).is(":checked");
                if (isChecked) {
                    count = count + 1;
                }
            });
            return count;
        }

        function ConfirmDelete() {
            var c = getCount();
            var message;
            if (c > 0) {
                message = "All data, table structure and relationships of the selected table and its descendants will be permanently disabled from this environment.\n \nThis action is not reversible without substantial data loss.This should not be performed on a production environment without proper approval.\nAre you sure to continue dropping the tables?"
                if (confirm(message)) {
                    enableMask();
                    return true;
                } else {
                    cancel();
                    setVisibilityButton();
                    return false;
                }
            }
            else {
                var message = "Select at least one table to perform deletion"
                alert(message);
                return false;
            }
        }

        function setVisibilityButton() {
            var selectedCount = getCount();
            if (selectedCount > 0) {
                $('#<%= btnDelete.ClientID%>').css('visibility', 'visible');                
            }
            else {
                $('#<%= btnDelete.ClientID%>').css('visibility', 'hidden');
            }
        }

        function cancel() {
            $("[id*=SchemaTables] input[type=checkbox]").each(function () {
                var isChecked = $(this).is(":checked");
                $("input[type=checkbox]").each(function () {
                    if (isChecked) {
                        $(this).removeAttr("checked");
                        $(this).attr('disabled', false);
                    }
                });
            });
        }

        function enableMask() {
            $('.masklayer').height($(document).height());
            $('.masklayer').show();
        }
        function disableMask() {
            $('.masklayer').hide();
        }
    </script>
    	<style type="text/css">	
		.spacer
		{
			display: inline-block;
			width: 20px;
		}
        .masklayer{
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                z-index: 100;
                opacity: 0.5;
                background-color: black;
        }
        .schema-node {
            padding-left: 2px;
        }
	</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
        <div class="masklayer" style="display: none; z-index: 20"></div>
     <h1>Delete Schema Tables</h1>
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%; margin-left: 10px;">
                <asp:Label ID="lblHead" runat="server" Text="Schema Tables" style="margin:0px;  margin-left: 50px;font-family: 'Oswald' , sans-serif;font-size: 1.5em;font-weight: 400"></asp:Label>
                <div style="width:280px;overflow-x:auto; min-height:600px; margin-left: 100px;">
                    <asp:TreeView runat="server" ID="SchemaTables" PopulateNodesFromClient="true" ShowLines="true" ShowCheckBoxes="All" ShowExpandCollapse="true" AutoGenerateDataBindings="False" >
                        <NodeStyle CssClass="schema-node" Height="20px" ForeColor="Black" />
                     </asp:TreeView>
                </div>    
            </td>
            <td style="width: 50%; padding-left: 200px;">
                <asp:Panel ID="PanelDisplayContent" runat="server">
                <asp:Button ID="btnDelete" runat="server" style="visibility:hidden;" OnClientClick="javascript:return ConfirmDelete();"  Font-Bold="true" width="125px" Text="Delete" />
                </asp:Panel>           
            </td>
        </tr>
    </table>
</asp:Content>
