﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/DataSetup.master" CodeBehind="schemakeys.aspx.vb" Inherits="CAMACloud.Console.schema_keys" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link rel="Stylesheet" href="/App_Static/css/tabcontent.css" />
    <script type="text/javascript" src="/App_Static/js/tabcontent.js"></script>
    <script type="text/javascript">

        function setRelation() {
            $( 'textarea' ).each( function ( a, b ) { $( b ).height( $( b ).prop( "scrollHeight" ) ) } )
            $('.cbPrimary input').each(function () {
                $(this).change(function () {
                    var c = this;
                    var tableid = $(this).parent().attr('tableid');
                    var sourcetable = $(this).parent().attr('sourcetable');
                    var fieldname = $(this).parent().attr('fieldname');
                    var TableInfo = {
                        TableId: tableid,
                        SourceTable: sourcetable,
                        FieldName: fieldname
                    };
                    if (c.type == "checkbox") {
                        TableInfo.CheckBoxStatus = c.checked ? 1 : 0;
                    }
                    var alertMsg =  c.checked ? "This will add the field as a primary key. Would you like to proceed?" : "This will remove the field as a primary key. Would you like to proceed?";
                    if(confirm(alertMsg)){
                    $ds('updaterelation', TableInfo, function (resp) {
                        console.log(c.checked);
                      if (c.checked) {
                            $(c).parents('tr:first').find('td:first').append('<img src="/App_Static/css/icons16/primary-key.png" height="15" width="15">')
                        }
                        else {
                            $(c).parents('tr:first').find('td:first').find('img').remove()
                        }
                        alert(resp.message);
                    });
                    }
                    else
                    c.checked = c.checked ? 0 : 1;
                });
            });

            $('.tsSaveBtn').attr('disabled', 'disabled');

            $('.tsInputFields').change(() => {
                $('.tsSaveBtn').removeAttr("disabled");
            });
        }

        $(document).ready(function () {
        	$('.schema-node a').click(function () { showMask(); });
    	});
       
    </script>
    <style type="text/css">
        .schema-node {
            padding-left: 2px;
        }
        textarea {
			resize: none;
		}
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Client Data Schema - Edits Keys & Relationships</h1>
    <table style="width: 100%;">
        <tr>
            <td style="width: 300px;">
                <h2 style="margin: 0px;">Schema Tables</h2>
                <div style="width: 318px; overflow-x: auto; border-right: 2px solid #e2e2e2; min-height: 600px">
                     <asp:TreeView runat="server" ID="SchemaTables" ShowExpandCollapse="true" PopulateNodesFromClient="true" ShowLines="true" AutoGenerateDataBindings="False" SelectedNodeStyle-Font-Bold="true" >
                        <NodeStyle CssClass="schema-node" Height="20px" ForeColor="Black" />
                     </asp:TreeView>
                </div>

            </td>
            <td>
                <asp:Panel ID="PanelDisplayContent" runat="server">
                    <h3 runat="server" id="SelectedTable" style="padding: 0px;margin: 0px;" visible="false"></h3>
                    <asp:Label ID="lblHead" runat="server" Style="margin-left: 10px; font-size: large; font-weight: bold; color: #065a9f;" Visible="false"></asp:Label>
                    <div class="tabs-main">
                        <ul class="tabs" data-persist="true">
                            <li><a href="#tab-pk">Primary Keys</a></li>
                            <li><a href="#tab-rel" id="tabrel" runat="server">Relationships</a></li>
                            <li><a href="#tab-ts">Table Settings</a></li>
                        </ul>
                    </div>
                    <div class="tabcontent" style="border: 1px solid #b7b7b7; border-top: 0px none; padding: 6px 10px 20px 5px; height: 500px; overflow-y: auto;">
                        <div id="tab-pk">
                            <asp:GridView ID="gvDataSourceTable" runat="server" AutoGenerateColumns="false">
                                <Columns>
                                    <asp:TemplateField ItemStyle-Width="18px" HeaderText="PK">
                                        <ItemTemplate>
                                            <asp:Image ID="imgPrimaryKey" runat="server" Width="15px" Height="15px" Visible='<%# IIF(Eval("IsPrimaryKey") Is DbNull.Value,"False","True") %>' ImageUrl="~/App_Static/css/icons16/primary-key.png" />
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField ItemStyle-Width="25px">
                                        <ItemTemplate>
                                            <asp:CheckBox ID="CheckBox1" runat="server" TableId='<%# Eval("TableId") %>' SourceTable='<%# Eval("SourceTable") %>' FieldName='<%# Eval("FieldName") %>' Checked='<%# IIF(Eval("IsPrimaryKey") Is DbNull.Value,"False","True") %>' class='cbPrimary' />
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:BoundField DataField="FieldName" ItemStyle-Width="200px" HeaderText="Field Name" />
                                    <asp:BoundField DataField="DataTypeName" ItemStyle-Width="100px" HeaderText="Data Type" />
                                    <asp:BoundField DataField="MaxLength" ItemStyle-Width="80px" HeaderText="Max Length" />
                                    <asp:BoundField DataField="SchemaDataType" ItemStyle-Width="80px" HeaderText="Schema Type" />
                                </Columns>
                            </asp:GridView>
                        </div>
                        <div id="tab-rel">
                            <asp:GridView ID="gvReferenceRelationships" runat="server" ShowHeaderWhenEmpty="true" ShowHeader="true" ShowFooter="True" AutoGenerateColumns="false" Width="100%">
                                <RowStyle Height="20px" />
                                <Columns>
                                    <asp:TemplateField>
                                        <HeaderTemplate>
                                            <asp:Label ID="lblSourceTable" runat="server"></asp:Label>
                                        </HeaderTemplate>
                                        <ItemTemplate>
                                            <asp:Label ID="lblFieldName" runat="server" Text='<%# Eval("Field")%>'></asp:Label>
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:DropDownList ID="ddlEditSourceField" AppendDataBoundItems="True" runat="server"></asp:DropDownList>
                                        </EditItemTemplate>
                                        <FooterTemplate>
                                            <asp:DropDownList ID="ddlAddSourceField" runat="server"></asp:DropDownList>
                                        </FooterTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField>
                                        <HeaderTemplate>
                                            <asp:Label ID="lblReferenceTable" runat="server"></asp:Label>
                                        </HeaderTemplate>
                                        <ItemTemplate>
                                            <asp:Label ID="lblReferenceField" runat="server" Text='<%# Eval("ReferenceField")%>'></asp:Label>
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:DropDownList ID="ddlEditReferenceField" AppendDataBoundItems="True" runat="server"></asp:DropDownList>
                                        </EditItemTemplate>
                                        <FooterTemplate>
                                            <asp:DropDownList ID="ddlAddReferenceField" runat="server"></asp:DropDownList>
                                        </FooterTemplate>
                                    </asp:TemplateField>


                                    <asp:TemplateField ShowHeader="False">
                                        <ItemTemplate>
                                            <asp:ImageButton ID="EditButton" runat="server" CommandName="Edit" AlternateText="Edit" Visible='<%# IIF(Eval("Field") Is DbNull.Value, "False","True") %>' ImageUrl="~/App_Static/css/icons16/edit.png" />
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:LinkButton ID="lnkUpdate" runat="server" CausesValidation="True" CommandName="Update" Text="Update"></asp:LinkButton>
                                            &nbsp;<asp:LinkButton ID="lnkCancel" runat="server" CausesValidation="False" CommandName="Cancel" Text="Cancel"></asp:LinkButton>
                                        </EditItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField ShowHeader="False">
                                        <ItemTemplate>
                                            <asp:ImageButton ID="DeleteButton" runat="server" ImageUrl="~/App_Static/css/icons16/del16.gif" CommandName="Delete" OnClientClick="return confirm('Are you sure you want to delete this event?');" Visible='<%# IIF(Eval("Field") Is DbNull.Value, "False","True") %>' AlternateText="Delete" />
                                        </ItemTemplate>
                                        <FooterTemplate>
                                            <asp:LinkButton ID="lnkAdd" runat="server" CommandName="AddRelationship" Text="Add"></asp:LinkButton>
                                        </FooterTemplate>
                                    </asp:TemplateField>

                                </Columns>
                            </asp:GridView>
                        </div>
                        <div id="tab-ts">
                            <table id="tableSettings">
                                <tr>
                                    <td>Destination Alias:</td>
                                    <td>
                                        <asp:TextBox ID="txtDestinationAlias" runat="server" class='tsInputFields' TextMode="MultiLine" Rows="4" Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td>Destination Filter:</td>
                                    <td>
                                        <asp:TextBox ID="txtDestinationFilter" runat="server" class='tsInputFields' TextMode="MultiLine" Rows="4" Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td>Abbreviated Name:</td>
                                    <td>
                                        <asp:TextBox ID="txtAbbreviatedName" runat="server" class='tsInputFields' Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td>Note:</td>
                                    <td>
                                        <asp:TextBox ID="txtNote" runat="server" class='tsInputFields' TextMode="MultiLine" Rows="5" Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td>Sync Properties:</td>
                                    <td>
                                        <asp:TextBox ID="txtSync" runat="server" class='tsInputFields' TextMode="MultiLine" Rows="8" Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td>'Do Not Keep' Condition:</td>
                                    <td>
                                        <asp:TextBox ID="txtDNKCondition" runat="server" class='tsInputFields' TextMode="MultiLine" Rows="2" Width="250%"></asp:TextBox></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <asp:CheckBox ID="cb_DisableDeletePCI" runat="server" class='tsInputFields' Text="Disable delete PCI" /></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><asp:CheckBox runat="server" ID="chkAllowInsert" class='tsInputFields' Text="Allow Insert Without Parent"></asp:CheckBox></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <asp:Button ID="btnSave" class='tsSaveBtn' runat="server" Text="Save" Style="float: right;" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </asp:Panel>
            </td>
            <td style="width: 10px">&nbsp;</td>
        </tr>
    </table>
    <div style="width: 120px">
    </div>



</asp:Content>
