﻿/**;********************************************** 
* 
* $Id: camacloud.com    
* $Date: 25-04-2012 (Wed) 
* $Upload: 00-04-2012  (xxx) 
* $Update: 00-04-2012  (xxx) 
**************************************************/
*
{
    margin: 0px;
    padding: 0px;
}
html
{
    background-color: #0988ca;
    background-image: url(../images/cloud_bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body
{
    text-align: center;
    font-family: Arial;
    font-size: 10pt;
    color: White;
}

.logo
{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top:180px;
    height:300px;
}

a
{
    color: White;
}
.copyrights
{
    margin-top: 10px;
    margin-bottom: 50px;
}
