﻿<%@ Page Title="Sketch Validation" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/CAMACloud3.Master" CodeBehind="default.aspx.vb" Inherits="CAMACloud.Console._default8" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MC" runat="server">
</asp:Content>
