﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/App_MasterPages/ClientAdmin.master" CodeBehind="masscleanup.aspx.vb" Inherits="CAMACloud.Admin.masscleanup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Mass Environment Cleanup</h1>
    <p class="info">Cleanup tracking records from Indian coordinates</p>
    <asp:Button runat="server" ID="btnCleanup" Text="Cleanup Tracking" />
</asp:Content>
