﻿
/* GRIDVIEW */

.mGrid
{
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #c1c1c1;
    border-collapse: collapse;
}

.mGrid tr.thr
{
    background-color:#ce7600;
    color:white;
}

    .mGrid tr.thr > th {
        border-width:1px;
        border-style:solid; 
        border-color:#ce7600;
    }

    .mGrid tr.thr > th:last-child {
        
    }


.mGrid th
{
    padding: 8px 6px 4px 6px;
    border-left: none 0px;
    border-right: none 0px;
    text-align: left;
    vertical-align:bottom;
    font-weight:500;
    border-spacing:0px;
    border-collapse: collapse;
}

.mGrid td
{
    padding:4px 6px 4px 6px;
    border: 1px solid #ddd;
    color: #444;
}

.mGrid td a
{
	font-size:1em;
	font-weight:500;
	text-decoration:none;
	margin-right:8px;
    cursor:pointer;
}


.mGrid th.c, .mGrid th[align="center"]
{
    text-align: center;
}

.mGrid th.r, .mGrid th[align="right"]
{
    text-align: right;
}

.mGrid th.l
{
    text-align: left;
}
.mGrid .alt
{
    background: #fcfcfc;
}
.mGrid .pgr
{
    background: #DFDFDF repeat-x top;
}

.mGrid .edit
{
    background: #777777;
    color:White;
}

.mGrid .edit td
{
    color:White;
}

.mGrid .edit td a
{
    color:Orange;
}

.mGrid td select
{
	margin:0px;
	width:96%;
	border:0px none;
	font-family:inherit;
}

.mGrid .row-head
{
    width:20px;
    text-align:right;
    padding-right:10px;
}

.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}

.mGrid .empty-row-template TD
{
    width:530px;
}

.plain-list TD
{
    padding:3px;
    border-bottom:1px solid #E2E2E2 !important;
}

.plain-list .empty-row-template TD
{

}

.resizable-text div, .resizable-text a, td.resizable-text
{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
}

td.resizable-text
{
    display:table-cell;
    border-top:0px none;
}

.grid-group-header
{
    border-bottom: none 0px;
}

.mGrid td a.normal
{
	font-size:inherit;
	font-weight:inherit;
	text-decoration:underline;
	margin-right:auto;
}