﻿/* main Content */
.spn_Mainhead{
color:#1176a5;
}
.divSubHeader{
background-color:#00469e;
color:white;
}

#spanMainHeading {
    color:white;
}
.main-content-area h1
{
	color:#3e76a2;
	border-color: #3a5e8c;
}

.mGrid, .mGrid td
{
	border-color:#dedede;
}

.mGrid .pgr td
{
	color: #0AB0C4;
}
.ui-state-default{
 background: linear-gradient(#7cafd8,#346175) !important;
 color:#ffffff !important;
}
.link-panel a {
    background: linear-gradient(#88c2f1,#326b84);
    color: white;
}
.btnSav{
background: linear-gradient(#88c2f1,#326b84);
}
.spn_Subhead
{
color:#3a5e8c;
}

#divtopHeader {
    background-color: #003366;
}

#divBottomFooter {
    background-color: #00469e;
}

.tc-b {
    color:black;
}

.tc-w {
    color:white;
}

.ca1-bg {
    background-color:#003366;
    color:white;
}

    .ca1-bg a {
        color:white;
    }

.ca2-bg {
    background-color:#1176a5;
    color:white;
}

.ca2-bg a, .ca2-bg h1, .ca2-bg h2 {
        color:white;
    }

.ca3-bg {
    background-color:#6b94b7;
    color:white;
}

.ca4-bg {
    background-color: #ebeff2;
}

.ca5-bg {
    background-color: #ce7600;
    color:white;
    border-color:#ce7600;
}

.ca6-bg, .ca6-bg a {
    background-color: #ffb129;
    color:white;
}

.tbc01 {
    background-color:aquamarine;
}

.tbc01 {
    background-color:burlywood;
}

.tbc01 {
    background-color:lemonchiffon;
}

.tbc04 {
    background-color:pink;
}

.t-bo {
    border:1px solid #DDD;
    margin:2px;
}