﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ParcelHeader.ascx.vb" Inherits="CAMACloud.MobileAssessor.App_Controls_ParcelHeader" %>
<div id="parcel-header-template" style="display: none;">
    <asp:PlaceHolder runat="server" ID="ParcelContentTemplate">
    </asp:PlaceHolder>
</div>
