﻿<%@ Control Language="VB" AutoEventWireup="false"
    Inherits="CAMACloud.MobileAssessor.App_Controls_SortScreenView" Codebehind="SortScreenView.ascx.vb" %>
<div id="my-parcels-template" style="display: none;">
    <nav class="parcel-item ${CautionFlag:showIfCaution}" parcelid="${Id}" nbhd="${NeighborhoodNo}" mode="0" completed="${Reviewed}">
        <div class="normal-view hidden" style="border:">
            <asp:PlaceHolder runat="server" ID="SortScreenNormalView">
                <table style="width: 100%; border-spacing: 0px;">
                    <tr>
                        <td style="width: 118px; vertical-align: top;">
                            <div class="sort-screen-photo" imgpid="${Id}" pkey="${KeyValue1}">
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                            <div class="ssc-norm-status" style="">
                                <span style="display: ${CC_Priority:showIfAlert};"><a class="alert32"></a></span>
                                <span style="display: ${CC_Priority:showIfPriority};"><a class="priority32"></a></span>
                                <span style="display: ${CC_Priority:showIfCritical};"><a class="alertp5"></a></span>
                                <span style="display: ${CC_Priority:showIfMedium};"><a class="alertp2"></a></span>
                                <span style="display: ${CC_Priority:showIfNormal};"> <a class="alertp1"></a></span>
                                <span style="display: ${Reviewed:showIfTrue};"><a class="comp32"></a></span>
                            </div>
                            <div class="ssc-parcel-id">
                                ${KeyValue1}</div>
                                <%--<div>
                                 <span style="display: ${CautionFlag:showIfCaution};"><a class="cautionAlert"></a></span>
                                 </div>--%>
                            <div>
                                <table style="width:95%;border-spacing:0px;">
                                    <tr>
                                        <td><span class="address">${StreetAddress}<span class="hidden"> - ${DistanceFromMe:toImperialDistance}</span></span></td>
                                        <td class="r"><span class="address b">${KeyValue2}</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <span class="alert-normal-view">${ParcelAlert}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </asp:PlaceHolder>
        </div>
        <div class="expanded-view hidden ">
            <asp:PlaceHolder runat="server" ID="SortScreenExpandedView">
                <table style="width: 100%;" class="b bb mb5">
                <tr>
                    <td style="width: 32px; display: ${Reviewed:showIfTrue};">
                        <a class="comp32"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfAlert};">
                        <a class="alert32"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfPriority};">
                        <a class="priority32"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfCritical};">
                        <a class="alertp5"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfMedium};">
                        <a class="alertp2"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfNormal};">
                        <a class="alertp1"></a>
                    </td>
                    <td>
                        Nbhd: ${NeighborhoodNo}
                    </td>
                    <td>
                        PROP ID: <a onclick="showParcel(${Id})">${KeyValue1}</a>
                    </td>
                 <%--   <td>                
                         <span style="display: ${CautionFlag:showIfCaution};"><a class=".cautionAlert"></a></span>
                    </td>--%>
                    <td>
                        Sale Price: 
                    </td>
                    <td>
                        TASP: 
                    </td>
                    <td style="width: 32px;">
                        <a class="close32"></a>
                    </td>
                </tr>
            </table>
            <div class="boxed">
                <div style="width: 170px; text-align: center;">
                    <div class="sort-screen-photo sort-screen-photo-large" imgpid="${Id}" pkey="${KeyValue1}">
                    </div>
                    <div>
                        <select class="select-flag" pid="${Id}" selected="${FieldAlertType}">
                            <option value="0">No Flag</option>
                            <option value="1">New Construction</option>
                            <option value="2">Demolition</option>
                            <option value="3">Data Discrepancy</option>
                        </select></div>
                    <a class="mark-complete mc-off text-button" pid="${Id}"></a>
                </div>
                <div class="extend-panel" style="margin-left: 10px;">
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 50%">
                                ${StreetAddress}
                            </td>
                            <td context="">
                                
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" class="c4">
          
                        <tr>
                            <td>
                                Class: 
                            </td>
                            <td>
                                CDU:
                            </td>
                            <td>
                                Roof: 
                            </td>
                            <td>
                                Sq. Ft.: 
                            </td>
                        </tr>
                    </table>
                    <div id="estimate-chart">
                        <table style="width: 100%; border-collapse: collapse; border-color: #CFCFCF;" border="1" class="estimate-chart-table">
		                    <tr>
			                    <td colspan="6" class="b c">2013 Estimates of Value </td>
		                    </tr>
		                    <tr class="b c">
			                    <td style="width: 10%;"></td>
			                    <td style="width: 18%;">ASSESSED</td>
			                    <td style="width: 18%;">APPRAISED</td>
			                    <td style="width: 18%;">COST </td>
			                    <td style="width: 18%;">MARKET</td>
			                    <td style="width: 18%;">OPINION</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Land </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">${cost_land_hstd_val+cost_land_non_hstd_val} </td>
			                    <td class="d">${land_hstd_val+land_non_hstd_val}</td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Impr </td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">${cost_imprv_hstd_val + cost_imprv_non_hstd_val} </td>
			                    <td class="d">${imprv_hstd_val + imprv_non_hstd_val} </td>
			                    <td class="d">&nbsp; </td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Total </td>
			                    <td class="d">${assessed_val}</td>
			                    <td class="d">${appraised_val}</td>
			                    <td class="d">${cost_value} </td>
			                    <td class="d">${market} </td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;$/SF </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr class="sort-screen-select" pid="${Id}" selectedtype="${SelectedAppraisalType}">
			                    <td>&nbsp; </td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <%--<td class="select" value="appr"><span class="not-selected">Select</span><span class="selected-type">Selected</span> </td>--%>
                                <td >&nbsp;</td>
		                    </tr>
	                    </table>
                    </div>
                </div>
            </div>
            </asp:PlaceHolder>
            
        </div>
       
    </nav>
</div>
<div id="my-parcels-template-bpp" style="display: none;">
  <nav class="parcel-item ${CautionFlag:showIfCaution}" parcelid="${Id}" nbhd="${NeighborhoodNo}" mode="0" completed="${Reviewed}">
	<div class="normal-view-bpp hidden" style="border:">
            <asp:PlaceHolder runat="server" ID="SortScreenNormalViewBPP">
                <table style="width: 100%; border-spacing: 0px;">
                    <tr>
                        <td style="width: 118px; vertical-align: top;">
                            <div class="sort-screen-photo" imgpid="${Id}" pkey="${KeyValue1}">
                            </div>
                        </td>
                        <td style="vertical-align: top;">
                            <div class="ssc-norm-status" style="">
                                <span style="display: ${CC_Priority:showIfAlert};"><a class="alert32"></a></span>
                                <span style="display: ${CC_Priority:showIfPriority};"><a class="priority32"></a></span>
                                <span style="display: ${Reviewed:showIfTrue};"><a class="comp32"></a></span>
                            </div>
                            <div class="ssc-parcel-id">
                                ${KeyValue1}</div>
                                <%--<div>
                                 <span style="display: ${CautionFlag:showIfCaution};"><a class="cautionAlert"></a></span>
                                 </div>--%>
                            <div>
                                <table style="width:95%;border-spacing:0px;">
                                    <tr>
                                        <td><span class="address">${StreetAddress}<span class="hidden"> - ${DistanceFromMe:toImperialDistance}</span></span></td>
                                        <td class="r"><span class="address b">${KeyValue2}</span></td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <span class="alert-normal-view">${ParcelAlert}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </asp:PlaceHolder>
        </div>
        <div class="expanded-view-bpp hidden ">
            <asp:PlaceHolder runat="server" ID="SortScreenExpandedViewBPP">
                <table style="width: 100%;" class="b bb mb5">
                <tr>
                    <td style="width: 32px; display: ${Reviewed:showIfTrue};">
                        <a class="comp32"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfAlert};">
                        <a class="alert32"></a>
                    </td>
                    <td style="width: 32px; display: ${CC_Priority:showIfPriority};">
                        <a class="priority32"></a>
                    </td>
                    <td>
                        Nbhd: ${NeighborhoodNo}
                    </td>
                    <td>
                        PROP ID: <a onclick="showParcel(${Id})">${KeyValue1}</a>
                    </td>
                 <%--   <td>                
                         <span style="display: ${CautionFlag:showIfCaution};"><a class=".cautionAlert"></a></span>
                    </td>--%>
                    <td>
                        Sale Price: 
                    </td>
                    <td>
                        TASP: 
                    </td>
                    <td style="width: 32px;">
                        <a class="close32"></a>
                    </td>
                </tr>
            </table>
            <div class="boxed">
                <div style="width: 170px; text-align: center;">
                    <div class="sort-screen-photo sort-screen-photo-large" imgpid="${Id}" pkey="${KeyValue1}">
                    </div>
                    <div>
                        <select class="select-flag" pid="${Id}" selected="${FieldAlertType}">
                            <option value="0">No Flag</option>
                            <option value="1">New Construction</option>
                            <option value="2">Demolition</option>
                            <option value="3">Data Discrepancy</option>
                        </select></div>
                    <a class="mark-complete mc-off text-button" pid="${Id}"></a>
                </div>
                <div class="extend-panel" style="margin-left: 10px;">
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 50%">
                                ${StreetAddress}
                            </td>
                            <td context="">
                                
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" class="c4">
          
                        <tr>
                            <td>
                                Class: 
                            </td>
                            <td>
                                CDU:
                            </td>
                            <td>
                                Roof: 
                            </td>
                            <td>
                                Sq. Ft.: 
                            </td>
                        </tr>
                    </table>
                    <div id="estimate-chart">
                        <table style="width: 100%; border-collapse: collapse; border-color: #CFCFCF;" border="1" class="estimate-chart-table">
		                    <tr>
			                    <td colspan="6" class="b c">2013 Estimates of Value </td>
		                    </tr>
		                    <tr class="b c">
			                    <td style="width: 10%;"></td>
			                    <td style="width: 18%;">ASSESSED</td>
			                    <td style="width: 18%;">APPRAISED</td>
			                    <td style="width: 18%;">COST </td>
			                    <td style="width: 18%;">MARKET</td>
			                    <td style="width: 18%;">OPINION</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Land </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">${cost_land_hstd_val+cost_land_non_hstd_val} </td>
			                    <td class="d">${land_hstd_val+land_non_hstd_val}</td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Impr </td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">${cost_imprv_hstd_val + cost_imprv_non_hstd_val} </td>
			                    <td class="d">${imprv_hstd_val + imprv_non_hstd_val} </td>
			                    <td class="d">&nbsp; </td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;Total </td>
			                    <td class="d">${assessed_val}</td>
			                    <td class="d">${appraised_val}</td>
			                    <td class="d">${cost_value} </td>
			                    <td class="d">${market} </td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr>
			                    <td class="b">&nbsp;$/SF </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp; </td>
			                    <td class="d">&nbsp;</td>
			                    <td class="d">&nbsp;</td>
		                    </tr>
		                    <tr class="sort-screen-select" pid="${Id}" selectedtype="${SelectedAppraisalType}">
			                    <td>&nbsp; </td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <td >&nbsp;</td>
			                    <%--<td class="select" value="appr"><span class="not-selected">Select</span><span class="selected-type">Selected</span> </td>--%>
                                <td >&nbsp;</td>
		                    </tr>
	                    </table>
                    </div>
                </div>
            </div>
            </asp:PlaceHolder>
            
        </div>
  </nav>
</div>
 <div id="my-parentparcels-template" style="display: none;">
 	<nav class="parcel-item-new ${CautionFlag:showIfCaution}" parcelid="${Id}" nbhd="${NeighborhoodNo}" mode="0" completed="${Reviewed}" Bppcount="${BPPCount}">
        <div class="normal-view">
            <asp:PlaceHolder runat="server" ID="MiniSSNormalViewBPP">
               <table style="width:100%; border:none">
			        <tr>
			            <td rowspan="3" style="width: 118px;">    
			            	<div class="sort-screen-photo" imgpid="${Id}" pkey="${KeyValue1}"></div>
			            </td>
			            <td style="width:42%">  
			            	<span class="ssc-norm-status" style="">
	                            <span style="display: ${CC_Priority:showIfAlert};"><a class="alert32"></a></span>
	                            <span style="display: ${CC_Priority:showIfPriority};"><a class="priority32"></a></span>
	                            <span style="display: ${AnyChildReviewed};"><a class="comp32"></a></span>
	                            <span style="display: ${Reviewed:showIfTrue};"><a class="comp32"></a></span>
			                </span>
			                <span style="font-size:20px"> Parcel No:  <label onclick="showParcel(${Id})" class="ssc-parcel-id">${KeyValue1}</label></span>
			            </td>
			            <td><span>NBHD: ${NeighborhoodNo}</span><span style="float: right;margin-right: 20px;">BPP Count : <span class="Bppcount">${BPPCount}</span></span></td>
			        </tr>
			        <tr>
			            <td colspan ="2"><span style="font-size: 14px;white-space: nowrap" class="address">${StreetAddress}<span class="hidden"> - ${DistanceFromMe:toImperialDistance}</span></span></td>			         
			        </tr>
			        <tr>
			            <td colspan ="2" ><label class="nav-buttons" style="width: 100%;float: left; border-bottom: 1px solid silver; padding-bottom: 10px;    margin-top: 11px;"><a class="mini-sort-screen-bpp" pid = "${Id}">+</a></label></td>
			        </tr>
			    </table>
            </asp:PlaceHolder>
        </div>
        
        <div class="expanded-view hidden ">
			<asp:PlaceHolder runat="server" ID="MiniSSExpandedViewBPP">
				<table style="width: 100%;" class="b bb mb5">
					<tr>
						<td style="width: 32px; display: ${Reviewed:showIfTrue};"><a class="comp32"></a></td>
						<td style="width: 32px; display: ${CC_Priority:showIfAlert};"><a class="alert32"></a></td>
						<td style="width: 32px; display: ${CC_Priority:showIfPriority};"><a class="priority32"></a></td>
						<td>Nbhd: ${NeighborhoodNo}</td>
						<td>PROP ID: <a onclick="showParcel(${Id})">${KeyValue1}</a></td>			 
						<td>Sale Price: </td>
						<td>TASP: </td>
						<td style="width: 32px;"><a class="close32"></a></td>
					</tr>
				</table>
				<div class="boxed">
					<div style="text-align: center;">
						<div class="sort-screen-photo sort-screen-photo-large" imgpid="${Id}" pkey="${KeyValue1}"></div>
						<div>
							<label>BPP Count : <span class="Bppcount">${BPPCount}</span></label>
							<label Class="nav-buttons" style="width: 100%;float: left; border-bottom: 1px solid silver; padding-bottom: 10px; margin-top: 15px;"><a onclick ="createNewParcel(${Id})">+</a></label>
						</div>
					</div>
					<div class="extend-panel" style="margin-left: 10px;">
						<table style="width: 100%">
							<tr>
								<td style="width: 50%">${StreetAddress}	</td>								
							</tr>
						</table>
						<table style="width: 100%;" class="c4">	  
							<tr>
								<td>Class: </td>
								<td>CDU: </td>
								<td>Roof: </td>
								<td>Sq. Ft.: </td>
							</tr>
						</table>
						<div id="estimate-chart">
							<table style="width: 100%; border-collapse: collapse; border-color: #CFCFCF;" border="1" class="estimate-chart-table">
								<tr>
									<td colspan="6" class="b c">2013 Estimates of Value </td>
								</tr>
								<tr class="b c">
									<td style="width: 10%;"></td>
									<td style="width: 18%;">ASSESSED</td>
									<td style="width: 18%;">APPRAISED</td>
									<td style="width: 18%;">COST </td>
									<td style="width: 18%;">MARKET</td>
									<td style="width: 18%;">OPINION</td>
								</tr>
								<tr>
									<td class="b">&nbsp;Land </td>
									<td class="d">&nbsp;</td>
									<td class="d">&nbsp;</td>
									<td class="d">${cost_land_hstd_val+cost_land_non_hstd_val} </td>
									<td class="d">${land_hstd_val+land_non_hstd_val}</td>
									<td class="d">&nbsp;</td>
								</tr>
								<tr>
									<td class="b">&nbsp;Impr </td>
									<td class="d">&nbsp; </td>
									<td class="d">&nbsp; </td>
									<td class="d">${cost_imprv_hstd_val + cost_imprv_non_hstd_val} </td>
									<td class="d">${imprv_hstd_val + imprv_non_hstd_val} </td>
									<td class="d">&nbsp; </td>
								</tr>
								<tr>
									<td class="b">&nbsp;Total </td>
									<td class="d">${assessed_val}</td>
									<td class="d">${appraised_val}</td>
									<td class="d">${cost_value} </td>
									<td class="d">${market} </td>
									<td class="d">&nbsp;</td>
								</tr>
								<tr>
									<td class="b">&nbsp;$/SF </td>
									<td class="d">&nbsp;</td>
									<td class="d">&nbsp;</td>
									<td class="d">&nbsp; </td>
									<td class="d">&nbsp;</td>
									<td class="d">&nbsp;</td>
								</tr>
								<tr class="sort-screen-select" pid="${Id}" selectedtype="${SelectedAppraisalType}">
									<td>&nbsp; </td>
									<td >&nbsp;</td>
									<td >&nbsp;</td>
									<td >&nbsp;</td>
									<td >&nbsp;</td>
									<td >&nbsp;</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</asp:PlaceHolder>	
		</div>      
	</nav>
</div>