﻿
/* Top Navigation */
#topNavBar
{
	color: #fff;
}

/* Left Column */
.left-panel
{
	color: #fff;
}
.left-content-area ul.group-menu li:before
{
	color: #0ab0c4;
}

/* main Content */

.main-content-area h1
{
	color: #065a9f;
	border-color: #0ab0c4;
}

/* Footer */
#footer
{
	color: #fff;
}

/*
	Common Types
*/

.link-panel a
{
	background: #CFCFCF;
}
.link-panel a:hover
{
	background: #065a9f;
	color: #FFF;
}

/*
		GRID
*/

.mGrid, .mGrid td
{
	border-color: #0ab0c4;
}

.mGrid .pgr td
{
	color: #0AB0C4;
}

