﻿
/* Top Navigation */
#topNavBar
{
	background-image: url('images/top-nav-repeat.png');
	background-repeat: repeat-x;
}

/* Left Column */
.left-panel
{
	width: 318px;
	background-repeat: repeat;
	background-image: url('images/left-col-bottom-repeat.png');
	min-width: 318px;
}

.left-content-area .logo
{
	background-image: url('/applogo.png?logo=console-main');
	background-repeat: no-repeat;
	background-position:center 10px;
}

.left-content-area .lucas-logo
{
	height: 100px;
	width: auto;
	margin:0px auto;
	background-image: url('/~clients/lucas/images/logo.png');
	background-repeat: no-repeat;
	background-position:center 10px;
}

.left-content-area
{
	background-image: url('images/left-col-top-repeat.png');
	background-repeat: repeat-x;
}


/* Footer */

#footer
{
	background-image: url('images/footer-repeat.png');
	background-repeat: repeat-x;
}

.v-split
{
	background:url(images/v-divide.png) center center no-repeat;
	width:4px;
}
