﻿/* main Content */
.spn_Mainhead{
color:#1176a5;
}
.divSubHeader{
background-color:#cecece;
}
.main-content-area h1
{
	color:#3e76a2;
	border-color: #3a5e8c;
}

.mGrid, .mGrid td
{
	border-color:#adadad;
}

.mGrid .pgr td
{
	color: #0AB0C4;
}
.ui-state-default{
 background: linear-gradient(#7cafd8,#346175) !important;
 color:#ffffff !important;
}
.link-panel a {
    background: linear-gradient(#88c2f1,#326b84);
    color: white;
}
.btnSav{
background: linear-gradient(#065a9f,#019ade);
}
.btnNrml {
background: linear-gradient(#88c2f1,#326b84);
}