﻿.spn_Mainhead{
float: left;
width: 94%;
margin-left:3%;
text-align: left;
font-size: 1.5em;
margin-top: 20px;
font-weight: bold;
}
.lnkAsButn{
background-color: #d9e9ff;
border: 1px solid #6da5ad;
border-radius: 4px;
padding: 3px 10px 6px 10px;
}
.spn_Subhead
{   float: left;
width: 96%;
margin-top: 25px;
font-size: 16px;
font-weight: bold;

}
.SpnUndr{
border-bottom: 1px solid;
}
.btnSav{
color: white;
border: none;
cursor: pointer;
width: 86px;
height: 25px;
font-weight: bold;
}
.link-panel a {
    font-weight: bold;
    margin: 2px;
    border-radius: 0px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
}
.link-panel a:hover{
background: linear-gradient(#60a2d8,#21617d);
}
.Labl{font-size: 15px;
    font-family: sans-serif;
    color: #383737;
    }