﻿body 
{
    font-family: "AvenirNext-Regular" , "Helvetica Neue Ultra Light" ,ArialMT,Arial;
    font-size: 11pt;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

.ma-logo-for-installation
{
    height:350px;
    background:url(app/mobileassessor.png) no-repeat center center;
}

.content
{
    padding:30px;
    padding-top:0px;
}

h1
{
    color:#5b80ab;
    font-size:22pt;
}
